.eventPromotion_cate_wrap {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    z-index: 100;
}

.eventPromotion_cate_wrap .eventPromotion_cate_content {
    position: relative;
    width: 1170px;
    margin: 0 auto;
}

.eventPromotion_cate_wrap .tab_logo {
    position: absolute;
    width: 110px;
    height: 60px;
    left: 0;
    background: url('../../images/eventPromotion/tab_logo.png') 100% no-repeat;
}

.eventPromotion_cate_wrap .navi_scroll .tab_logo{
    display: none !important;
}

.eventPromotion_cate_wrap .tab_top {
    position: absolute;
    height: 32px;
    padding-top: 28px;
    right: 0;
    font-size: 13px;
    color: #bbbbbb;
    font-family: 'sw_f';
}

.eventPromotion_cate_wrap .navi_scroll .tab_top{
    display: none !important;
}

.eventPromotion_cate_wrap .tab_top::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 15px;
    background: url('../../images/eventPromotion/tap_top_arrow.png') 50% 0 no-repeat;
    display: block;
    top: 18px;
    left: 0;
}

.eventPromotion_cate_wrap ul {
    width: 1170px;
    margin: 0 auto;
    font-size: 0;
}

.eventPromotion_cate_wrap ul li {
    display: inline-block;
    position: relative;
    padding-left: 24px;
    margin-left: 24px;
}

.eventPromotion_cate_wrap ul li::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 4px;
    height: 4px;
    background-color: #dddddd;
    border-radius: 50px;
}

.eventPromotion_cate_wrap ul li:nth-of-type(1):after {
    display: none;
}

.eventPromotion_cate_wrap ul li a {
    display: block;
    position: relative;
    font-size: 16px;
    color: #999999;
    line-height: 60px;
    font-family: 'noto_m';
}

.eventPromotion_cate_wrap ul .active a {
    color: #009223;
}

.eventPromotion_cate_wrap ul .active a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #009223;
}

.event_content_wrap {
    width: 1170px;
    margin: 0 auto;
    position: relative;
    padding-top: 70px;
    padding-bottom: 130px;
}

.left_side {
    position: relative;
    max-width: 800px;
}

.left_side .title {
    font-size: 36px;
    color: #292929;
    font-family: 'noto_l';
    letter-spacing: -0.04em;
    line-height: 50px;
}

.left_side .event_date {
    font-size: 22px;
    color: #009223;
    font-family: 'sw_f';
    margin: 29px 0 27px;
}

.left_side .event_content_img {
    max-width: 800px;
    width: 100%;
}

.left_side .youtube_wrap {
    width: 83%;
    height: 378px;
    position: absolute;
    top: 34.3%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0 0 0 / 50%);
}

.back_eventList_btn {
    width: 170px;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
}


.back_eventList_btn::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: #ffce32;
    left: 36px;
    top: 30px;
}

.back_eventList_btn::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: #ffce32;
    left: 36px;
    top: 16px;
}


.back_eventList_btn a {
    display: block;
    background-color: #009223;
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: #fff;
    font-family: 'noto_m';
    letter-spacing: -0.03em;
    line-height: 50px;
    border-radius: 50px;
    text-indent: 70px;
    transition-duration: 0.2s;
    margin-top: 59px;
}

.back_eventList_btn:hover a {
    background-color: #00811f;
}

.back_eventList_btn a:hover {
    background-color: #00811f;
}

.back_eventList_btn a::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: #ffce32;
    left: 36px;
    top: 23px;
}

.right_side {
    position: absolute;
    left: 870px;
    top: 80px;
    width: 300px;
}

.right_side .board_nav {
    margin-top: 30px;
}

.right_side .board_nav:nth-of-type(1) {
    margin-top: 0;
}

.right_side .board_nav a {
    display: block;
    height: 140px;
    overflow: hidden;
    position: relative;
}

.right_side .board_nav a .nav_text {
    position: absolute;
    font-size: 16px;
    color: #bbbbbb;
    font-family: 'noto_r';
    font-weight: bold;
    letter-spacing: 0.07em;
    left: -15px;
    transition-duration: 0.2s;
}

.right_side .board_nav a:hover .nav_text {
    color: #009223;
}

.right_side .board_nav a .prev {
    transform: rotate(-90deg);
    bottom: 11px;
}

.right_side .board_nav a .nav_text span {
    width: 20px;
    height: 4px;
    position: absolute;
    bottom: 8px;
    background-color: #bbbbbb;
    transition-duration: 0.2s;
}

.right_side .board_nav a .prev span {
    left: 56px;
}

.right_side .board_nav a .nav_text span::after {
    content: '';
    position: absolute;
    top: -2px;
    width: 12px;
    height: 8px;
    background: url('../../images/eventPromotion/eventDetail_nav_arrow.gif') 0 0 no-repeat;
    transform: rotate(90deg);
}

.right_side .board_nav a .prev span::after {
    left: 100%;
    margin-left: -3px;
}

.right_side .board_nav a:hover .nav_text span {
    background-color: #ffc300;
    width: 77px;
}

.right_side .board_nav a:hover .nav_text span::after {
    background-position: 100% 0;
}

.right_side .board_nav a .nav_title {
    position: absolute;
    left: 60px;
    top: 24px;
    font-size: 18px;
    color: #ffffff;
    font-family: 'noto_dl';
    line-height: 28px;
    letter-spacing: -0.03em;
    opacity: 0;
    transition-duration: 0.2s;
    z-index: 1;
}

.right_side .board_nav a .nav_date {
    position: absolute;
    left: 60px;
    bottom: 1px;
    font-size: 13px;
    color: #ffffff;
    font-family: 'noto_dl';
    line-height: 28px;
    letter-spacing: -0.05em;
    margin: 29px 0 27px;
    opacity: 0;
    transition-duration: 0.2s;
    z-index: 1;
}

.right_side .board_nav a:hover .nav_title,
.right_side .board_nav a:hover .nav_date {
    opacity: 1;
}

.right_side .board_nav a .nav_img {
    width: 270px;
    height: 140px;
    float: right;
    position: relative;
    overflow: hidden;
}

.right_side .board_nav a .nav_img img {
    width: 100%;
    height: 100%;
}

.right_side .board_nav a .nav_img::after {
    content: '';
    position: absolute;
    border: 10px solid #009223;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    transition-duration: 0.2s;
}

.right_side .board_nav a:hover .nav_img:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.right_side .board_nav a .next {
    transform: rotate(-90deg);
    top: 11px;
}

.right_side .board_nav a .next span {
    right: 56px;
}

.right_side .board_nav a .next span::after {
    right: 100%;
    margin-right: -3px;
    transform: rotate(-90deg);
}