#container {
    font-family: 'noto_m';
}
.content_wrap{
    padding-bottom: 120px;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}
.subTitle {
    font-family: 'noto_m';
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    color: #292929;
    font-weight: 300;
    letter-spacing: -0.07em;
    padding: 74px 0 80px;
}

p{
    display: block;
    margin-block-start: 1em ;
    margin-block-end: 1em ;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.board_total {
    color: #999999;
    letter-spacing: -0.045em;
    float: left;
}
.board_total strong {
    color: #009223;
    margin: 0 0 0 3px;
    font-weight: bold;
}

input{
    border: 0;
    height: 41px;
    width: 100%;
    text-indent: 14px;
    color: #292929;
    font-size: 16px;
    outline: none;
}
.form_search{
    width: 224px;
    float: right;
    vertical-align: middle;
    border: 2px solid #dddddd;
    height: 41px;
    position: relative;
    padding-right: 42px;
}
.btn_search{
    background: url(../../images/newsNoticeImages/icon_search.png) 50% 50% no-repeat;
    width: 41px;
    height: 41px;
    position: absolute;
    right: 0;
    top: 0;
}

.form_search .btn_search:after{
    content: '';
    position: absolute;
    left: -2px;
    top: 13px;
    width: 2px;
    height: 16px;
    background-color: #e5e5e5;
}

#text{
    visibility: hidden;
}

.table_contain{
    width: 1200px;
    margin: 0 auto;
}

.icon_notice{
    display: inline-block;
    width: 20px;
    height: 14px;
    background: url(../../images/newsNoticeImages/icon_notice.png) 0 0 no-repeat;
}

.left_arrow {
    display: inline-block;
    width: 8px;
    height: 12px;
    background: url(../../images/newsNoticeImages/icon_page_arr.png) 0 0 no-repeat;
    background-position: left top;
    margin-right: 97px;
}

a:hover .left_arrow{
    display: inline-block;
    width: 8px;
    height: 12px;
    background: url(../../images/newsNoticeImages/icon_page_arr.png) 0 0 no-repeat;
    background-position: left bottom;
    margin-right: 97px;
}

.right_arrow {
    display: inline-block;
    width: 8px;
    height: 12px;
    background: url(../../images/newsNoticeImages/icon_page_arr.png) 0 0 no-repeat;
    background-position: right top;
    margin-left: 97px;
}
a:hover .right_arrow {
    display: inline-block;
    width: 8px;
    height: 12px;
    background: url(../../images/newsNoticeImages/icon_page_arr.png) 0 0 no-repeat;
    background-position: right bottom;
    margin-left: 97px;
}


.notice, .num{
    width: 80px;
    height: 72px;
}

.notice{
    background-color: #f8f8f8;
}

.num{
    font-family: 'sw_f';
    font-weight: bold;
    color: #ffc300;
}

.td_title{
    width: 900px;
}
.td_blank{
    width: 50px;
}

.td_date{
    width: 120px;
    color: #bbbbbb;
    font-family: 'sw_s';
}

.title{
    font-family: 'noto_r';
    text-align: left;
}
.title a{
    color: #292929;
}

.pagenation{
    text-align: center;
    margin-top: 34px;
}

.pagenation a{
    font-family: 'sw_f';
    font-weight: bold;
    font-size: 18px;
    padding: 0 3px;
    margin: 0 10px;
    color: #bbbbbb;
}

.pagenation .active{
    color: #009223;
}

caption{
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.notice .title a{
    color:#009223;
    font-weight: bold;
}

a:link,
a:visited,
a:hover,
a:focus{
    text-decoration: none;
}

table {
    clear: both;
    border-top: 4px solid #009223;
    width: 100%;
    border-collapse: collapse;
}
tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    text-align: center;
}
tr{
    display: table-row;
    vertical-align: middle;
    border-color: inherit;
}
td{
    border-bottom: 1px solid #dddddd;
}

.font_search{
    font-family: 'noto_r';
}

.font_search::placeholder{
    font-family: 'noto_r';
    color: #bbbbbb;
}
