html,body,button,dl,dt,dd,div,form,fieldset,legend,h1,h2,h3,h4,h5,h6,input,select,textarea,ul,ol,li,p,pre,table,td,th,caption,a,button,figure{margin:0;padding:0; line-height:120%;}
html,body{background-color:#fff;}
h1,h2,h3,h4,h5,h6{font-weight:normal}
body{font-size:16px; color:#666666; font-family:font_ns, sans-serif;}

ol,ul{list-style:none}
a{text-decoration:none; color:#333;}
img{vertical-align:top; border:0}
table{border-collapse:collapse;border-spacing:0; width:100%;}
caption{visibility:hidden; font-size:0; line-height:0; opacity:0; height:0; overflow:hidden;}
em{font-style:normal;}

#container {position: relative;}

.content_

.content_wrap{position:absolute; left:0; width:100%; top:0; border-bottom:1px solid #e5e5e5; height:59px; background-color:#fff; z-index:5}
.content_wrap .logo{position:absolute; left:0; top:0px; height:60px; width:110px; background:url(../images/common/logo_sub_header.png) 0 50% no-repeat; overflow:hidden; text-indent:-9999px; font-size:0; line-height:0; opacity:0}
.content_wrap .top{position:absolute; right:0; top:0px; height:32px; padding-top:28px; font-family:font_sw; font-weight:bold; color:#bbbbbb; font-size:13px; opacity:0;}
.content_wrap .top:after{content:''; width:12px; height:15px; background:url(../images/common/icon_arr_top.png) 50% 0 no-repeat; display:block; position:absolute; left:0; width:100%; top:18px}
.content_wrap .sub_menu{text-align:center;}
.content_wrap .sub_menu ul{overflow:hidden; display:inline-block;}
.content_wrap .sub_menu ul li{float:left; position:relative;}
.content_wrap .sub_menu ul li + li { padding-left:24px; margin-left:21px;}
.content_wrap .sub_menu ul li + li:after{content:''; width:4px; height:4px; background-color:#dddddd; border-radius:30px; position:absolute; left:0; top:28px;}
.content_wrap .sub_menu ul li:first-child{margin-left:0; padding-left:0}
.content_wrap .sub_menu ul li:first-child:after{display:none;}
.content_wrap .sub_menu ul li.active a{color:#009223; font-weight:300;}
.content_wrap .sub_menu ul li.active a:after{content:''; position:absolute; left:0; width:100%; height:4px; bottom:0; background-color:#009223}

.franchise_wrapper{margin-top:-61px;}
.franchise_wrapper .txt{font-size:16px; line-height:26px; text-align:center; letter-spacing:-0.045em}
.franchise_wrapper .nation_store {overflow:hidden; margin-top:66px;}
.franchise_wrapper .nation_store >div{float:left; width:50%; height:220px; background-color:#f6f6f6; color:#292929; overflow:hidden; transition-duration:0.3s; position:relative;}
.franchise_wrapper .nation_store >div:after{content:''; position:absolute; left:0; width:100%; top:0; height:100%; z-index:2; opacity:0; transition-duration:0.3s}
.franchise_wrapper .nation_store >div .inner{text-align:center; font-size:30px; margin-top:55px; position:relative; z-index:3;}
.franchise_wrapper .nation_store >div .inner p{margin-bottom:38px;}
.franchise_wrapper .nation_store >div .inner p span{display:inline-block; position:relative; padding-bottom:6px;}
.franchise_wrapper .nation_store >div .inner p span:after{content:''; height:1px; position:absolute; left:0; right:0; bottom:0; transition-duration:0.3s}
.franchise_wrapper .nation_store >div .inner strong{font-weight:bold; font-size:80px; letter-spacing:-0.025em; display:inline-block; margin-right:5px; }
.franchise_wrapper .nation_store .nation .inner{float:right; margin-right:197px;}
.franchise_wrapper .nation_store .nation .inner span:after{background-color:#000}
.franchise_wrapper .nation_store .store .inner{float:left; margin-left:153px;}
.franchise_wrapper .nation_store .store .inner span:after{background-color:#fff}

.franchise_wrapper .nation_store >div.hover{color:#fff;}
.franchise_wrapper .nation_store >div.hover .inner p span:after{background-color:#fff;}
.franchise_wrapper .nation_store >div.hover:after{opacity:1;}
.franchise_wrapper .nation_store .nation:after{background:url(../images/franchise/bg_nation.jpg) 0 0 no-repeat;}
.franchise_wrapper .nation_store .store:after{background:url(../images/franchise/bg_store.jpg) 0 0 no-repeat;}

.franchise_wrapper .barnd{width:1170px; margin:0 auto 48px;}
.franchise_wrapper .barnd h3{text-align:center; margin:96px 0 0 0;}
.franchise_wrapper .barnd >ul{overflow:hidden; margin-left:-30px;}
.franchise_wrapper .barnd >ul >li{height:460px; float:left; width:570px; position:relative; margin-left:30px;}
.franchise_wrapper .barnd >ul >li h4{background-color:#ffce32; width:170px; height:150px; padding-top:41px; box-sizing:border-box; text-align:center; line-height:30px; color:#009223; font-size:22px; font-weight:bold; position:absolute; left:0; top:215px; font-family:font_sw;}
.franchise_wrapper .barnd >ul >li ul{margin:19px 0 0 192px;}
.franchise_wrapper .barnd >ul >li ul li{font-size:16px; color:#666666; line-height:26px; letter-spacing:-0.055em; text-indent:-12px; margin-left:12px;}

.process{height:710px; text-align:center; color:#fff; background:url(../images/franchise/bg_franchise_process.jpg) 50% 0 no-repeat;}
.process h3{font-size:28px; font-weight:bold; padding-top:95px; letter-spacing:-0.04em}
.process .summary{font-size:16px; line-height:26px; margin-top:22px;}
.process .steps{margin-top:65px;}
.process .steps >ol{overflow:hidden; display:inline-block;}
.process .steps >ol >li{float:left; width:200px; padding:0 22px; position:relative;}
.process .steps >ol >li:after{content:''; position:absolute; left:-3px; top:95px; background:url(../images/common/icon_arr_r02.png) 0 0 no-repeat; width:6px; height:11px;}
.process .steps >ol >li:first-child:after{display:none;}
.process .steps >ol >li .step{width:192px; height:192px; border:4px solid #009223; border-radius:100px; font-size:22px; line-height:26px; margin:0 auto 16px;}
.process .steps >ol >li .step em{display:block; font-weight:300; font-size:13px; padding-top:67px;}
.process .steps >ol >li .step strong{font-weight:300; letter-spacing:-0.02em}
.process .steps >ol >li ul li{line-height:22px; font-size:16px; margin-bottom:4px; letter-spacing:-0.035em}
.process .steps >ol >li:nth-child(odd) .step{border-color:#ffc300}
.process .steps >ol >li:nth-child(odd) .step em{color:#ffd800}
.process .steps >ol >li:nth-child(even) .step{border-color:#009223}
.process .steps >ol >li:nth-child(even) .step em{color:#62ce08}
.process .steps .text{text-align:left; width:1170px; margin:0 auto; color:#999999; font-size:13px; padding-top:32px; letter-spacing:-0.04em; position:relative; left:-4px;}

.board_list{position:relative; overflow:hidden; padding-bottom:127px;}
.board_list .cont_right{position: absolute; float:right; margin-bottom:10px;}
.board_list table{clear:both; border-top:4px solid #009223;}
.board_list table th{color:#009223; font-size:16px; font-weight:300; height:69px; border-bottom:1px solid #009223; text-align:center;}
.board_list table th.hide{font-size:0; display:table-cell;}
.board_list table td{height:69px; border-bottom:1px solid #dddddd; text-align:center; color:#292929; font-size:16px;}
.board_list table td .title{text-align:left; letter-spacing:-0.04em}
.board_list table td .date{color:#bbbbbb; font-family:font_sw;}
.board_list table td .icon_file{display:inline-block; width:20px; height:20px; background:url(../images/common/icon_file.png) 0 0 no-repeat;}
.board_list table td .icon_notice{display:inline-block; width:20px; height:14px; background:url(../images/common/icon_notice.png) 0 0 no-repeat;}
.board_list table td .num{color:#ffc300; font-family:font_sw; font-weight:bold;}
.board_list table td .service span{display:inline-block; font-size:13px; color:#bbb; border:1px solid #bbb; border-radius:30px; height:23px; line-height:23px; padding:0 8px;}
.board_list table td .service span.on{font-weight:300; color:#666; border-color:#666}
.board_list table td .tel{color:#bbbbbb; font-family:font_sw;}
.board_list table td .coming{color:#009223; font-family:font_sw; font-size:13px; font-weight:bold; background-color:#ffce32; height:25px; line-height:22px; width:110px; margin:0 auto; text-align:center; border-radius:15px}
.board_list table tr.notice td{background-color:#f8f8f8}
.board_list table tr.notice td .title a{color:#009223; font-weight:bold;}


.invest_cost{margin-top:95px;}
.invest_cost .board_tit{text-align:center; padding-bottom:7px !important;}
.invest_cost .board_list .cont_right{position: absolute; float:right; font-size:13px; color:#999999; margin-bottom:16px; letter-spacing:-0.03em}
.invest_cost .board_list table th{text-align:left; padding:0 30px; color:#292929; line-height:22px; font-weight:normal; border-bottom:1px solid #dddddd}
.invest_cost .board_list table td{padding:0 30px; text-align:left; color:#666; line-height:22px; font-size:16px; letter-spacing:-0.05em}
.invest_cost .board_list table thead th{border-color:#009223;}
.invest_cost .board_list table tfoot{background-color:#f6f6f6;}
.invest_cost .board_list table tfoot th,
.invest_cost .board_list table tfoot td{font-weight:300; color:#292929;}
.invest_cost .board_list .notice{color:#999; font-size:13px; line-height:23px; margin:19px 0 50px;}
.invest_cost .board_list .notice li{margin-bottom:8px; letter-spacing:-0.035em}