#wrap {
    width: 100%;
    min-width: 1170px;
    height: auto;
    border-top: 5px solid #009223;
}

/* header */
header {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #fff;
    z-index: 999;
}

header::after {
    content: "";
    position: absolute;
    left: 0;
    top: 150px;
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.header_wrap {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

header .logo {
    position: absolute;
    cursor: pointer;
    width: 202px;
    background-color: gray;
    left: 50%;
    margin-left: -100px;
}

.header_menu {
    position: absolute;
    right: 25px;
    top: 40px;
}

.header_menu ul {
    font-size: 0;
}

.header_menu ul li {
    display: inline-block;
    vertical-align: middle;
}

.header_menu ul li.login a,
.header_menu ul li.signUp a {
    color: #666666;
    font-size: 13px;
    vertical-align: top;
}

.header_menu ul .signUp {
    margin-left: 30px;
}

.header_menu ul .signUp::before {
    display: block;
    content: '';
    background-color: #ddd;
    width: 3px;
    height: 3px;
    position: absolute;
    top: 50%;
    margin-left: -16px;
    margin-top: -3px;
    border-radius: 50%;
}

.header_menu ul .menu_icon {
    margin-left: 15px;
}

.menu_categori {
    position: absolute;
    width: 100%;
    height: auto;
    text-align: center;
    top: 100px;
}

.menu_categori .categori_ul {
    display: flex;
    justify-content: center;
}

.menu_categori .categori_ul .categori_li {
    width: 165px;
    height: 40px;
    cursor: pointer;
}

.menu_categori .categori_ul .categori_li p {
    margin-top: 10px;
    font-size: 16px;
    font-family: 'noto_m';
    color: #292929;
}

.categori_li .drop_menu {
    padding-top: 30px;
    display: none;
}

.categori_li .drop_menu .drop_li {
    cursor: pointer;
}

.categori_li .drop_menu .drop_li a {
    font-size: 14px;
    font-family: 'noto_dl';
    color: #666666;
    display: block;
    padding: 4px 0 5px 0;
}

.bg_w {
    background-color: #fff;
    display: none;
    position: absolute;
    top: 151px;
    left: 0;
    width: 100%;
    height: 205px;
    z-index: 1;
}
/* header end */

/* container */
/* ~todo */
#container {
    width: 100%;

}
/* container end */

/* footer */
footer {
    width: 100%;
    height: auto;
    background-color: #292929;
    position: relative;

}

footer::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #3b3b3b;
    top: 54px;
}

.footer_wrap {
    width: 1170px;
    margin: 0 auto;
    height: auto;
    position: relative;
}

.footer_top {
    width: 100%;
    padding: 15px 0 18px 0;
}

.footer_top ul {
    display: flex;
    text-align: center;
}

.footer_top ul li {
    margin-right: 29px;
}

.footer_top ul li a {
    font-size: 14px;
    font-family: 'noto_dl';
    color: #666666;
}

.footer_top ul li a strong {
    font-size: 14px;
    color: #bbbbbb;
}

.footer_bottom {
    padding: 15px 0 18px 0;
}

.footer_bottom span {
    color: #666666;
    font-size: 13px;
    font-family: 'noto_dl';
    padding-right: 12px;
    position: relative;
}

.footer_bottom .after::after {
    content: "";
    position: absolute;
    width: 1.5px;
    height: 10px;
    background-color: #666666;
    right: 2px;
    top: 5px;
}

.footer_bottom p {
    font-size: 13px;
    color: #666666;
    font-family: 'noto_dl';
    padding-top: 5px;
}

.footer_sns_icon {
    width: 50px;
    height: 50px;
    top: 68px;
    opacity: 0.5;
}

.instagram {
    position: absolute;
    background: url(../images/instagram_icon.png) 100% 0 no-repeat;
    right: 105px;
}

.facebook {
    position: absolute;
    background: url(../images/facebook_icon.png) 100% 0 no-repeat;
    right: 40px;
}

.footer_sns_icon:hover {
    opacity: 1;
    transition-duration: 0.3s;
}
/* footer end */