#container {position: relative;}

.content_wrap {position: sticky; width: 100%; top: 0; left: 0; border-bottom: 1px solid #e5e5e5; height: 59px; background-color: #fff; z-index: 5;}
.content_wrap .logo {position: absolute; top: 0; left: 0; width: 110px; height: 60px; background: url('../images/common/logo_sub_header.png') 0 50% no-repeat; overflow: hidden; text-indent: -9999px; font-size: 0; line-height: 0; opacity: 1;}
.content_wrap .top {position: absolute; top: 0; right: 0; height: 32px; padding-top: 28px; color: #bbbbbb; font-size: 13px; opacity: 1;}
.content_wrap .top::after {content: ''; width: 12px; height: 15px; background: url('../images/common/icon_arr_top.png') 50% 0 no-repeat; display: block; position: absolute; left: 0; width: 100%; top: 18px;}
.content_wrap .content_nav {text-align: center;}
.content_wrap .content_nav ul {overflow: hidden; display: inline-block;}
.content_wrap .content_nav ul li {position: relative; float: left;}
.content_wrap .content_nav ul li + li {padding-left: 24px; margin-left: 21px;}
.content_wrap .content_nav ul li + li::after {content: ''; width: 4px; height: 4px; background-color: #dddddd; border-radius: 30px; position: absolute; top: 28px; left: 0;}
.content_wrap .content_nav ul li:first-child {padding-left: 0; margin-left: 0;}
.content_wrap .content_nav ul li:first-child::after {display: none;}
.content_wrap .content_nav ul li a {position: relative; display: block; line-height: 60px; color: #999999; font-size: 16px; letter-spacing: -0.08em; font-family: noto_r;}
.content_wrap .content_nav ul li.active a {color: #009223; font-weight: 300;}
.content_wrap .content_nav ul li.active a::after {content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 4px; background-color: #009223;}

