.sub_header{
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    min-width: 1170px;
    z-index: 100;
    text-align: center;
    z-index: 100;
}

.sub_header .logo{
    position: absolute;
    left: 335px;
    top: 0px;
    height: 60px;
    width: 110px;
    background: url(/images/findStoreImages/logo_sub_header.png) 0 50% no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
    opacity: 0;
}

.sub_header .top{
    position: absolute;
    right: 335px;
    top: 0px;
    height: 32px;
    padding-top: 28px;
    font-family: 'sw_f';
    color: #bbbbbb;
    font-size: 13px;
    opacity: 0;
}
.sub_header .top::after{
    content: '';
    width: 12px;
    height: 15px;
    background: url('../../images/findStoreImages/icon_arr_top.png') 50% 0 no-repeat;
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    top: 18px;
}


.content_category ul {
    font-size: 0;
}
.content_category::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
}
.content_category li {
    padding-left: 24px;
    margin-left: 21px;
    display: inline-block;
    position: relative;
}

.content_category li::after{
    content: '';
    width: 4px;
    height: 4px;
    background-color: #dddddd;
    border-radius: 30px;
    position: absolute;
    left: 0;
    top: 28px;
}
.content_category li:first-child::after{
    display: none;
}

.content_category li a {
    text-decoration-line: none;
    color: #999999;;
    font-family: 'noto_r';
    line-height:60px;
    font-size:16px;
    letter-spacing:-0.08em;
}


.content_category .active a {
    color: #009223 !important;
    display: block;
    position: relative;
}
.content_category .active a::after{
    content: '';
    position: absolute;
    background-color: #009223; 
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
}
.content_wrap{
    position: relative;
    font-family: 'noto_dl';
}
/* 매장찾기 */
.content_wrap .store_search_wrap .store_search_layer{
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 3;
    width: 340px;
    height: 658px;
    padding: 0 29px;
    background-color: #fff;
    border: 1px solid #dddddd;
}
.store_search_layer h2{
    color: #292929;
    font-size: 28px;
    text-align: center;
    padding: 30px 0 17px 0;
    font-family: 'noto_m';
}
.store_search_layer .form_search{
    border: 2px solid #dddddd;
    height: 41px;
    display: block;
    position: relative;
    padding-right: 42px;
}
.store_search_layer .form_search input{
    border: 0;
    height: 41px;
    width: 100%;
    text-indent: 14px;
    color: #292929;
    font-size: 16px;
    font-family: 'noto_r';
}
.store_search_layer .form_search .keyword::placeholder{
    color:#bbbbbb;
    font-size:16px;
    font-family:'noto_dl';
}
.store_search_layer .form_search .search_btn{
    background: url(/images/findStoreImages/icon_search.png) 50% 50% no-repeat;
    width: 41px;
    height: 41px;
    position: absolute;
    right: 0;
    top: 0;
}
.store_search_layer .form_search .search_btn::after{
    content: '';
    position: absolute;
    left: -2px;
    top: 13px;
    width: 2px;
    height: 16px;
    background-color: #e5e5e5;
}

.search_result .search_cnt{
    color: #999999;
    font-size: 16px;
    margin: 13px 0;
} 
.search_result .search_cnt span{
    color: #009132;
    font-family: 'noto_m';
}
.store_search_layer .store_list{
    margin-top: 0;
    height: 400px;
    border-top: 1px solid #dddddd;
}

.store_result{
    height: 430px;
    overflow-y: scroll;
}
.store_result::-webkit-scrollbar{
    width: 12px;
}

.store_result::-webkit-scrollbar-thumb{
    background-color: #dddddd; 
    background-clip: padding-box;
    border: 4px solid transparent;
    height: 10px;
}
.store_list .store_result_container .store_result ul li{
    position: relative;
    padding: 5px 40px 20px 40px;
    margin-top: 15px;
    cursor: pointer;
    border-bottom: 1px solid #dddddd;
}
.store_list .store_result_container ul li:last-child{
    border-bottom: none;
}
.store_list .store_result_container ul li>strong{
    display: block;
    color: #292929;
    font-size: 18px;
    font-family: 'noto_r';

}
.store_list .store_result_container ul li .info{
    margin-bottom: 15px;
}
.store_list .store_result_container ul li .info p{
    color: #999999;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: -0.045em;
}
.store_list .store_result_container ul li .service span{
    display: inline-block;
    font-size: 13px;
    color: #666;
    border: 1px solid #666;
    border-radius: 30px;
    height: 23px;
    line-height: 23px;
    padding: 0 8px;
    margin: 0 0 8px 2px;
}
.search_result .pagination{
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 25px;
    text-align: center;
}
.search_result .pagination a{
    font-family: 'sw_f';
    font-size: 18px;
    padding: 0 3px;
    margin: 0 10px;
    display: inline-block;
    color: #bbbbbb;
}
.search_result .pagination .active{
    display: inline-block;
    color: #009223;
}
.search_result .pagination .arr::after{
    content: '';
    display: block;
    width: 8px;
    height: 12px;
    background: url(/images/findStoreImages/icon_page_arr.png) no-repeat;
}

.search_result .pagination .prev{
    margin-right: 27px;
}
.search_result .pagination .prev::after{
    background-position: 0 0;
}
.search_result .pagination .prev:hover::after{
    background-position: 0 100%;
}
.search_result .pagination .next{
    margin-left: 27px;
}
.search_result .pagination .next::after{
    background-position: 100% 0;
}
.search_result .pagination .next:hover::after{
    background-position: 100% 100%;
}
.content_wrap #map_div{
    position: relative !important;
}
/* 매장찾기 팝업..? */
#map_div .store_map_layout{
    width: 298px;
    height: 243px;
    border: 1px solid #000000;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -234px 0 0 -150px;
    z-index: 3;
}
#map_div .store_map_layout::after{
    border-top: 24px solid #fff; 
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 0px solid transparent; 
    content:""; 
    position:absolute;
    bottom: -24px;
    left:50.25%;
    z-index: 100; 
}
#map_div .store_map_layout::before{
    border-top: 25px solid #000; 
    border-left: 10.5px solid transparent; 
    border-right: 10.5px solid transparent; 
    border-bottom: 2px solid transparent; 
    content:""; 
    position:absolute;
    bottom: -27px;
    left:50%;
}
#map_div .store_map_layout .title{
    background-color: #ffce32;
    position: relative;
    height: 54px;
}
#map_div .store_map_layout .title>span{
    color: #292929;
    font-size: 18px;
    display: block;
    padding: 13px 0 0 23px;
    letter-spacing: -0.03em;
    font-family: 'noto_m';
}
#map_div .store_map_layout .title .close_btn{
    background: url(/images/findStoreImages/icon_close01.png) 50% 50% no-repeat;
    width: 54px;
    height: 54px;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
}
#map_div .store_map_layout .info{
    margin: 0 24px;
    border-bottom: 1px solid #dddddd;
    height: 133px;
}
#map_div .store_map_layout .info dl{
    padding-top: 23px;
}
#map_div .store_map_layout .info dt{
    color: #292929;
    font-size: 13px;
    float: left;
    height: 21px;
    padding-left: 2px;
    position: relative;
    margin-bottom: 4px;
    letter-spacing: -0.04em;
}
#map_div .store_map_layout .info dt::before{
    content: '';
    width: 2px;
    height: 2px;
    display: inline-block;
    vertical-align: middle;
    background-color: #696969;
    margin-right: 5px;
    position: relative;
    top: -1px;
}

#map_div .store_map_layout .info dd{
    color: #999999;
    font-size: 13px;
    line-height: 21px;
    margin: 0 0 4px 76px;
    position: relative;
    top: -3px;
    letter-spacing: -0.03em;
    min-height: 21px;
}
#map_div .store_map_layout .detail{
    text-align: center;
    padding-top: 17px;
}
#map_div .store_map_layout .detail a{
    display: inline-block;
    color: #292929;
    font-size: 16px;
    letter-spacing: -0.045em;
    font-family: 'noto_m';
}
#map_div .store_map_layout .detail a::after{
    content: '';
    width: 25px;
    height: 25px;
    background: url(/images/findStoreImages/icon_more.png) 0 0 no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    position: relative;
    top: -2px;
}
/* 신규 매장 안내 */
.new_store_content{
    background-color: #f6f6f6;
    padding: 96px 0 100px;
    margin-bottom: 95px;
}
.new_store_content .content{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.new_store_content .content .title{
    font-size: 28px;
    color: #292929;
    font-family: 'noto_r';
    letter-spacing: -0.05em;
    margin-left: 30px;
    margin-bottom: 10px;
}

.new_store_info{
    float: left;
    width: 270px;
    height: 172px;
    background-color: #fff;
    position: relative;
    margin: 30px 0 0 30px;
}
.new_store_info .area{
    text-align: center;
    color: #292929;
    font-size: 18px;
    padding-top: 32px;
}
.new_store_info .area>span{
    font-family: 'noto_b';
    color: #292929;
    font-size: 22px;
    text-align: center;
    display: block;
    margin-top: 5px;
}

.new_store_info .state{
    height: 50px;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-family: 'sw_f';
}
.new_store_info .state::after{
    content: '';
    width: 12px;
    height: 7px;
    background: url(/images/findStoreImages/icon_store_arr.png) 0 0 no-repeat;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -6px;
}
.new_store_info .comming{
    background-color: #ffce32;
    color: #009223;
}

.new_store_info .open{
    background-color: #009223;
    color: #ffce32;
}
.new_store_info .open>span{
    color: #fff;
    font-size: 18px;
    font-family: 'sw_f';
}

.slick-dotted.slick-slider {
    margin-bottom: 0 !important;
}

/* .slick-dots {
    top: 0 !important;
    right: -50% !important;
} */

.slick-dots li {
    width: unset !important;
    height: unset !important;
    margin: 0 5px !important;
    top: -430px !important;
    right: -575px !important;
}

.slick-dots li button {
    width: 10px !important;
    height: 10px !important;
    padding: 0 !important;
    transition-duration: 0.3s;
}

.slick-dots li button:before {
    content: "" !important;
    width: 10px !important;
    height: 10px !important;
    line-height: 13px !important;
    color: unset !important;
    background-color: #dddddd;
    border-radius: 30px;
    opacity: 1 !important;
    transition-duration: 0.3s;
}

.slick-dots li.slick-active button {
    width: 30px !important;
}

.slick-dots li.slick-active button:before {
    width: 30px !important;
    background-color: #ffc300;
} 



.slick-prev, .slick-next {
    width: 50px !important;
    height: 50px !important;
    background: url('/images/findStoreImages/icon_event_slider_arr.png') no-repeat !important;
    top: 50% !important;
}
.slick-prev::before, .slick-next::before {
    display: none;
}

.slick-prev {
    background-position: 0 0 !important;
    left: -110px !important;
}

.slick-next {
    background-position: 100% 0 !important;
    right: -110px !important;
}

.slick-prev:hover {
    background-position: 0 100% !important;
}

.slick-next:hover {
    background-position: 100% 100% !important;
}


/* 전체매장 */
.all_store_content{
    padding-top: 100px;
}

.all_store_content .content{
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}
.all_store_content .content>h3{
    font-size: 28px;
    color: #292929;
    font-family: 'noto_r';
    letter-spacing: -0.05em;
    padding-bottom: 38px;
}
.board_list_wrapper{
    position: relative;
    padding-bottom: 127px;
}
.board_list_wrapper .content{
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

.board_count{
    color: #999999;
    letter-spacing: -0.045em;
    float: left;
    margin-top: 17px;
}
.board_count>span{
    color: #009223;
    font-weight: bold;
    display: inline-block;
    margin: 0 0 0 3px;
}

.searchFrm .area_list{
    float: right;
    margin-bottom: 10px;
}
.area_list .area_select{
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    border: 2px solid #dddddd;
    width: 196px;
}
.area_list .area_select::before{
    content: '';
    position: absolute;
    right: 13px;
    top: 18px;
    width: 12px;
    height: 7px;
    background: url(/images/findStoreImages/icon_select_arr.png) 0 0 no-repeat;
    z-index: 3;
}
.area_list .area_select select{
    width: 100%;
    border: 0;
    height: 41px;
    line-height: 41px;
    font-size: 16px;
    color: #999999;
    position: relative;
    z-index: 1;
    text-indent: 9px;
    appearance:none /* 화살표 없애기 */
}
.board_list_wrapper .content table{
    clear: both;
    border-top: 4px solid #009223;
    width: 100%;
    border-collapse: collapse;
}
.board_list_wrapper .content table th{
    color: #009223;
    font-size: 16px;
    font-weight: 300;
    height: 69px;
    border-bottom: 1px solid #009223;
    text-align: center;
    font-family: 'noto_m';
}
.board_list_wrapper .content table td{
    height: 69px;
    border-bottom: 1px solid #dddddd;
    text-align: center;
    color: #292929;
    font-size: 16px;
    font-family: 'noto_dl';
}
.board_list_wrapper .content table td .num{
    color: #ffc300;
    font-family: 'sw_f';
}
.board_list_wrapper .content table td .title{
    text-align: left;
}
.board_list_wrapper .content table td .service span{
    display: inline-block;
    font-size: 13px;
    color: #bbb;
    border: 1px solid #bbb;
    border-radius: 30px;
    height: 23px;
    line-height: 23px;
    padding: 0 8px;
    font-family: 'noto_r';
}

.board_list_wrapper .content table td .service .on{
    font-weight: 300;
    color: #666;
    border-color: #666;
    font-family: 'noto_r';
}

.board_list_wrapper .content table td .tel{
    color: #bbbbbb;
    font-family: 'sw_s';
}
.board_list_wrapper .content table td .comming{
    color: #009223;
    font-family: 'sw_f';
    font-size: 13px;
    background-color: #ffce32;
    height: 25px;
    line-height: 22px;
    width: 110px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}

.board_list_wrapper .content table td a img{
    vertical-align: top;
}

.pagination_wrap .pagination{
    text-align: center;
    margin-top: 34px;
}

.pagination_wrap .pagination a{
    font-family: 'sw_f';
    font-size: 18px;
    padding: 0 3px;
    margin: 0 10px;
    display: inline-block;
    color: #bbbbbb;
}
.pagination_wrap .pagination .active{
    color: #009223;
}

.pagination_wrap .pagination .arr{
    display: inline-block;
}

.pagination_wrap .pagination .arr::after{
    content: '';
    display: block;
    width: 8px;
    height: 12px;
    background: url(/images/findStoreImages/icon_page_arr.png) no-repeat;
}
.pagination_wrap .pagination .prev{
    margin-right: 97px;
}
.pagination_wrap .pagination .prev:hover::after{
    background-position: 0 100%;
}

.pagination_wrap .pagination .next{
    margin-left: 97px;
}

.pagination_wrap .pagination .next::after{
    background-position: 100% 0;
}
.pagination_wrap .pagination .next:hover::after{
    background-position: 100% 100%;
}