html, body, button, dl, dt, dd, div, form, fieldset, legend, h1, h2, h3, h4, h5, h6, input, select, textarea, ul, ol, li, p, pre, table, td, th, caption, a, button, figure {
    margin: 0;
    padding: 0;
    line-height: 120%;
}

input {
    vertical-align: middle;
    font-family: noto_dl, sw_f;
    outline: none;
}

.order.fast_sub {
    min-height: 663px;
    padding-bottom: 130px;
    background: url(../../images/fastsub_step1/fast_bg.jpg) no-repeat 50% 0 #89cd2f;
}

#content {
    padding-top: 0;
    position: relative;
    z-index: 3;
}

.order .store_map {
    position: relative;
}

.order .order_title {
    text-align: center;
}

.order .order_title h3 {
    padding: 64px 0 25px 0;
    color: #fff;
    font-size: 70px;
    font-family: 'sw_f', 'sw_s';
    font-weight: bold;
}

.order .order_title p {
    color: #fff;
    font-size: 16px;
    font-family: noto_dl;
}

ol, ul {
    list-style: none;
}

.order .order_step {
    margin-top: 58px;
    text-align: center;
    font-size: 0;
}

.order .order_step li {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 106px;
    margin-right: 20px;
    padding-right: 65px;
    color: #fff;
    vertical-align: top;
    font-family: noto_r;
}

.order .order_step li.on {
    padding-left: 102px;
    font-size: 24px;
    font-weight: 300;
    text-align: left;
}

.order .order_step li.step_shop {
    background: url(../../images/fastsub_step1/step01_off_bg.png) no-repeat 0 12px;
}

.order .order_step li.step_shop.on {
    width: 164px;
    height: 170px;
    padding-right: 16px;
    background: url(../../images/fastsub_step1/step01_on_bg.png) no-repeat 0 0;
}

.order .order_step li.on strong {
    display: block;
    padding-top: 15px;
    color: #ffc300;
    font-size: 16px;
    font-family: sw_f;
    font-weight: bold;
}

.order .order_step li:after {
    content: '';
    position: absolute;
    right: 0;
    top: 45px;
    width: 45px;
    height: 5px;
    background: url(../../images/fastsub_step1/step_bg_off.png) no-repeat 0 0;
}

.order .order_step li.on:after {
    background-image: url(../../images/fastsub_step1/step_bg_on.png);
}

.order .order_step li.step_menu {
    background: url(../../images/fastsub_step1/step02_off_bg.png) no-repeat 0 12px;
    font-size: 0;
}
.order .order_step li.step_menu strong {
    font-size: 0;
}

.order .order_step li.step_order {
    background: url(../../images/fastsub_step1/step03_off_bg.png) no-repeat 0 12px;
    font-size: 0;
}
.order .order_step li.step_order strong{
    font-size: 0;
}

.order .order_step li.step_payment {
    margin-right: 0;
    padding-right: 0;
    background: url(../../images/fastsub_step1/step04_off_bg.png) no-repeat 0 12px;
    font-size: 0;
}

.order .order_step li.step_payment strong{
    font-size: 0;
}

.order .order_step li.step_payment:after {
    display: none;
}

.tab02 {
    width: 1170px;
    height: 70px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    box-shadow: 7px 7px 20px 0px rgb(0 0 0 / 10%);
}

.tab02 ul {
    overflow: hidden;
    width: 1170px;
    display: flex;
    border-left: 1px solid #e5e5e5;
}

.tab02 ul li {
    flex: 1;
    border: 1px solid #e5e5e5;
    margin-left: -1px;
    position: relative;
}

.tab02 ul li.active {
    z-index: 3;
    border: 1px solid #009223;
}

a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.tab02 ul li a {
    display: block;
    height: 68px;
    line-height: 68px;
    position: relative;
    font-family: noto_dl;
    font-size: 18px;
    color: #666666;
    text-align: center;
    background-color: #fff;
}

.tab02 ul li.active a {
    background-color: #009223;
    color: #fff;
}

.order .order_con {
    position: relative;
    background-color: #fff;
}

.order .store_map .order_map {
    margin: 0 auto;
    width: 1170px;
}

.order .order_map .map_api {
    width: 1170px;
    height: 819px;
}

.order .store_search {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 400px;
    height: 760px;
    padding: 0 29px;
    border: 1px solid #d0d0d0;
    background: #fff;
    box-sizing: border-box;
}

.order .store_search h3 {
    padding: 46px 0 17px 0;
    color: #292929;
    font-size: 28px;
    font-family: noto_r;
    text-align: center;
}

fieldset {
    display: block;
    border: 0;
}

.order .store_search fieldset {
    border-bottom: 1px solid #ddd;
}

legend {
    display: block;
    overflow: hidden;
    position: absolute;
    top: -1000em;
    left: 0;
    width: 0;
    text-indent: -9999px;
}

.form_search {
    border: 2px solid #dddddd;
    height: 41px;
    display: block;
    position: relative;
    padding-right: 42px;
}

.form_search input {
    border: 0;
    height: 41px;
    width: 100%;
    text-indent: 14px;
    color: #292929;
    font-size: 16px;
    font-family: noto_dl;
}

.form_search .btn_search {
    background: url(../../images/fastsub_step1/icon_search.png) 50% 50% no-repeat;
    width: 41px;
    height: 41px;
    position: absolute;
    right: 0;
    top: 0;
}

.form_search .btn_search:after {
    content: '';
    position: absolute;
    left: -2px;
    top: 13px;
    width: 2px;
    height: 16px;
    background-color: #e5e5e5;
}

.order .store_search fieldset p {
    padding: 14px 0 18px 0;
    color: #999;
    font-family: noto_dl;
}

.order .store_search fieldset p strong {
    color: #292929;
    font-family: noto_r;
}

em {
    font-style: normal;
}

.order .store_search fieldset p em {
    color: #009223;
    font-family: noto_r;
}

.mCustomScrollbar {
    -ms-touch-action: pinch-zoom;
    touch-action: pinch-zoom;
}

.mCustomScrollbar.mCS_no_scrollbar, .mCustomScrollbar.mCS_touch_action {
    -ms-touch-action: auto;
    touch-action: auto;
}

.order .store_list ul {
    height: 499px;
    /* border-bottom: 1px solid #ddd; */
}

.mCustomScrollBox {
    position: relative;
    overflow: hidden;
    height: 100%;
    max-width: 100%;
    outline: 0;
    direction: ltr;
}

.mCSB_container {
    overflow: hidden;
    width: auto;
    height: auto;
}

.mCSB_inside>.mCSB_container {
    margin-right: 30px;
}

.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
    margin-right: 0;
}

.order .store_list ul li {
    padding: 23px 0;
    border-bottom: 1px solid #eee;
}

.order .store_list ul li dl dt {
    overflow: hidden;
    font-family: noto_dl;
}

.order .store_list ul li dl dt strong {
    float: left;
    padding: 3px 9px 0 0;
    color: #292929;
    font-size: 18px;
    font-family: noto_dl;
}

.my_bookmark {
    display: block;
    cursor: pointer;
    position: relative;
    width: 24px;
    z-index: 5;
}

.order .store_list ul li dl dt .my_bookmark {
    float: left;
}

.my_bookmark input {
    opacity: 0;
    position: absolute;
    left: -2px;
    height: 0;
    width: 0;
}

.my_bookmark input {
    opacity: 0;
    position: absolute;
    left: -2px;
    height: 0;
    width: 0;
}

.my_bookmark .i_star {
    background: url(../../images/fastsub_step1/icon_star.png) no-repeat center 50%;
    background-color: #dddddd;
    background-size: 12px;
    display: block;
    border-radius: 100%;
    transition-duration: 0.3s;
    height: 24px;
    width: 24px;
}

.order .store_list ul li dl dt em {
    float: right;
    width: 67px;
    height: 25px;
    border: 1px solid #999;
    border-radius: 12.5px;
    color: #999;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    line-height: 25px;
}

.order .store_list ul li dl dt em.on {
    background: #009223;
    border-color: #009223;
    color: #fff;
}

.order .store_list ul li dl dd {
    position: relative;
    margin-top: 14px;
}

.order .store_list ul li dl .delivery {
    font-size: 14px;
    display: table;
}

.order .store_list ul li dl .delivery.time {
    margin-bottom: 5px;
}

.order .store_list ul li dl dd p {
    width: 260px;
    color: #999;
    line-height: 23px;
    font-family: noto_dl;
}

.order .store_list ul li dl .delivery p {
    line-height: 20px;
    display: table-cell;
    width: 200px;
}

.order .store_list ul li dl .delivery.time p {
    color: #292929;
    font-size: 17px;
    font-family: noto_m;
    font-weight: bold;
    letter-spacing: -.5px;
}

.order .store_list ul li dl dd span {
    position: absolute;
    right: 0;
    bottom: 3px;
    color: #bbb;
    font-family: sw_s;
}

.order .store_list ul li dl .delivery.time p + span {
    color: #292929;
    font-size: 17px;
    font-weight: bold;
    font-family: noto_m;
}

.order .store_list ul li dl dd {
    position: relative;
    margin-top: 14px;
}

.order .store_list ul li dl .delivery + dd {
    margin-top: 5px;
}

.order .store_list ul li dl dd p {
    width: 260px;
    color: #999;
    line-height: 23px;
}

.order .store_list ul li dl dd span {
    position: absolute;
    right: 0;
    bottom: 3px;
    color: #bbb;
    font-family: sw_f;
}





.pagination {
    text-align: center;
    margin-top: 34px;
}

.order .store_map .pagination {
    margin-top: 22px;
}

.pagination strong, .pagination a {
    font-family: sw_f;
    font-weight: bold;
    font-size: 18px;
    padding: 0 3px;
    margin: 0 10px;
    display: inline-block;
    color: #bbbbbb;
}

.pagination .arr {
    display: inline-block;
}

.order .store_map .pagination .prev {
    margin-right: 18px;
}

.pagination a.active {
    display: inline-block;
    color: #009223;
}

.order .store_map .pagination .next {
    margin-left: 18px;
}

.pagination .arr:after {
    content: '';
    display: block;
    width: 8px;
    height: 12px;
    background: url(../../images/fastsub_step1/icon_page_arr.png) no-repeat;
}

.pagination .arr.prev:after {
    background-position: 0 0;
}

.pagination .arr.next:after {
    background-position: 100% 0;
}

.pagination .arr.prev:hover:after {
    background-position: 0 100%;
}

.pagination .arr.next:hover:after {
    background-position: 100% 100%;
}

#map_api .store_map_layout {
    width: 298px;
    height: 243px;
    border: 1px solid #000000;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -234px 0 0 -150px;
    z-index: 3;
    font-family: noto_dl;
}

#map_api .store_map_layout::before {
    border-top: 24px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    bottom: -24px;
    left: 50.25%;
    z-index: 100;
}

#map_api .store_map_layout .title {
    background-color: #ffce32;
    position: relative;
    height: 54px;
}

#map_api .store_map_layout .title>span {
    color: #292929;
    font-size: 18px;
    display: block;
    padding: 17px 0 0 23px;
    letter-spacing: -0.03em;
    font-family: 'noto_m';
}

#map_api .store_map_layout .title .close_btn {
    background: url(../../images/fastsub_step1/icon_close01.png) 50% 50% no-repeat;
    width: 54px;
    height: 54px;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
}

#map_api .store_map_layout .info {
    margin: 0 24px;
    height: 133px;
}

#map_api .store_map_layout .info dl {
    padding-top: 23px;
}

#map_api .store_map_layout .info dt {
    color: #292929;
    font-size: 13px;
    float: left;
    height: 21px;
    padding-left: 2px;
    position: relative;
    margin-bottom: 4px;
    letter-spacing: -0.04em;
}

#map_api .store_map_layout .info dt::before {
    content: '';
    width: 2px;
    height: 2px;
    display: inline-block;
    vertical-align: middle;
    background-color: #696969;
    margin-right: 5px;
    position: relative;
    top: -1px;
}

#map_api .store_map_layout .info dd {
    color: #999999;
    font-size: 13px;
    line-height: 21px;
    margin: 0 0 4px 76px;
    position: relative;
    top: -3px;
    letter-spacing: -0.03em;
    min-height: 21px;
}

#map_api .store_map_layout .detail {
    text-align: center;
}

#map_api .store_map_layout .detail a {
    display: inline-block;
    color: #292929;
    font-size: 16px;
    letter-spacing: -0.045em;
    font-family: 'noto_m';
}





.order .order_con {
    position: relative;
    background-color: #fff;
}

.board_list_wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 127px;
}

.order_con .board_list_wrapper {
    padding-bottom: 95px;
}

.content {
    max-width: 970px;
    margin: 0 auto;
    position: relative;
}

.board_list_wrapper .board_total {
    color: #999999;
    font-family: noto_dl;
    letter-spacing: -0.045em;
    float: left;
    margin-top: 17px;
}

.order_con .board_list_wrapper .board_total {
    margin: 57px 0 27px 0;
}

.board_list_wrapper .board_total strong {
    font-weight: bold;
    color: #009223;
    display: inline-block;
    margin: 0 0 0 3px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.board_list_wrapper table {
    clear: both;
    border-top: 4px solid #009223;
}

caption {
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.board_list_wrapper table th {
    color: #009223;
    font-size: 16px;
    font-family: noto_dl;
    height: 69px;
    border-bottom: 1px solid #009223;
    text-align: center;
}

.board_list_wrapper table td {
    height: 69px;
    border-bottom: 1px solid #dddddd;
    text-align: center;
    color: #292929;
    font-size: 16px;
    font-family: noto_dl;
}

.order_con .board_list_wrapper .often_list .store_name {
    overflow: hidden;
    text-align: left;
    position: relative;
    padding-left: 35px;
}

.my_bookmark {
    display: block;
    cursor: pointer;
    position: relative;
    width: 24px;
    z-index: 5;
}

.order_con .board_list_wrapper .often_list .store_name label {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.my_bookmark input {
    opacity: 0;
    position: absolute;
    left: -2px;
    height: 0;
    width: 0;
}

.my_bookmark .i_star {
    background: url(../../images/fastsub_step1/icon_star.png) no-repeat center 50%;
    background-color: #dddddd;
    background-size: 12px;
    display: block;
    border-radius: 100%;
    transition-duration: 0.3s;
    height: 24px;
    width: 24px;
}

.my_bookmark input:checked ~ .i_star {
    animation: store_touch 0.3s ease-in-out forwards;
    background-color: #ffc300;
}

.order_con .board_list_wrapper .often_list .store_name span {
    line-height: 1.5em;
}

.order_con .board_list_wrapper .often_list .store_tel {
    color: #999;
    font-family: sw_s;
}

.order_con .board_list_wrapper .often_list .store_status a {
    display: inline-block;
    width: 67px;
    height: 25px;
    border: 1px solid #999;
    border-radius: 12.5px;
    color: #999;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    line-height: 25px;
    transition: all 0.3s;
}

.order_con .board_list_wrapper .often_list .store_status a.on:hover {
    background: #00811f;
}

.order_con .board_list_wrapper .often_list .store_status a.on {
    background: #009223;
    border-color: #009223;
    color: #fff;
}



.data_none {
    padding: 172px 0;
    text-align: center;
}

.data_none p {
    position: relative;
    line-height: 18px;
    letter-spacing: -0.05em;
    color: #999;
    font-family: noto_dl;
    padding-top: 58px;
}

.data_none p:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -20px;
    background: url(../../images/fastsub_step1/icon_exc_sm.png)no-repeat;
    width: 40px;
    height: 40px;
}


.store_map_layout .btn_order {
    display: block;
    width: 118px;
    height: 34px;
    margin: 0px auto 0 auto;
    border: 1px solid #bbb;
    border-radius: 17px;
    text-align: center;
}

.store_map_layout .btn_order.on {
    display: block;
    width: 118px;
    height: 34px;
    margin: 0px auto 0 auto;
    border-radius: 17px;
    background: #009223;
    text-align: center;
}

.store_map_layout .btn_order.on:hover {
    background: #00811f;
}

.store_map_layout .btn_order span {
    display: inline-block;
    color: #bbb;
    font-weight: 300;
    line-height: 34px;
}

.store_map_layout .btn_order.on span {
    padding-right: 24px;
    background: url(../../images/fastsub_step1/icon_reg02.png) no-repeat 100% 50%;
    color: #fff;
}

.store_result{
    height: 500px;
    overflow-y: scroll;
}
.store_result::-webkit-scrollbar{
    width: 12px;
}

.store_result::-webkit-scrollbar-thumb{
    background-color: #dddddd; 
    background-clip: padding-box;
    border: 4px solid transparent;
    height: 10px;
}

.store_list_set {
    margin-right: 18px;
}