.mysub_cate_wrap {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    z-index: 100;
}

.mysub_cate_wrap .mysub_cate_content {
    position: relative;
    width: 1170px;
    margin: 0 auto;
}

.mysub_cate_wrap .tab_logo {
    position: absolute;
    width: 110px;
    height: 60px;
    left: 0;
    background: url('../../images/eventPromotion/tab_logo.png') 100% no-repeat;
    display: none;
}

.mysub_cate_wrap .tab_top {
    position: absolute;
    height: 32px;
    padding-top: 28px;
    right: 0;
    font-size: 13px;
    color: #bbbbbb;
    font-family: 'sw_f';
    display: none;
}

.mysub_cate_wrap .tab_top::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 15px;
    background: url('../../images/eventPromotion/tap_top_arrow.png') 50% 0 no-repeat;
    display: block;
    top: 18px;
    left: 0;
}

.mysub_cate_wrap ul {
    width: 1170px;
    margin: 0 auto;
    font-size: 0;
}

.mysub_cate_wrap ul li {
    display: inline-block;
    position: relative;
    padding-left: 24px;
    margin-left: 24px;
}

.mysub_cate_wrap ul li::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 4px;
    height: 4px;
    background-color: #dddddd;
    border-radius: 50px;
}

.mysub_cate_wrap ul li:nth-of-type(1):after {
    display: none;
}

.mysub_cate_wrap ul li a {
    display: block;
    position: relative;
    font-size: 16px;
    color: #999999;
    line-height: 60px;
    font-family: 'noto_r';
}

.mysub_cate_wrap ul .active a {
    color: #009223;
}

.mysub_cate_wrap ul .active a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #009223;
}

.title {
    font-size: 40px;
    letter-spacing: -0.07em;
    color: #292929;
    font-family: 'noto_dl';
    text-align: center;
    padding: 74px 0 80px;
}

.giftCard_content_wrap {
    width: 100%;
    height: auto;
}

.giftCard_tap {
    width: 1170px;
    height: 70px;
    margin: 0 auto;
    position: relative;
    box-shadow: 7px 7px 20px 0px rgb(0 0 0 / 10%);
}

.giftCard_tap ul {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.giftCard_tap ul li {
    width: 100%;
    height: 100%;
}


.giftCard_tap ul li:first-child a {
    border-right: 0;
}

.giftCard_tap ul li a {
    display: block;
    height: 68px;
    line-height: 68px;
    font-size: 18px;
    position: relative;
    color: #666666;
    text-align: center;
    font-family: 'noto_r';
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
}

.giftCard_tap ul li.active a {
    color: #fff;
    background-color: #009223;
    border: 1px solid #009223;
}

.card_slide_wrap {
    width: 100%;
    margin-top: -45px;
    padding: 95px 0 60px;
    background-color: #ffc300;
}

.card_slide_content {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}

.card_slide .img_wrap {
    width: 480px;
    height: 300px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.card_slide .img_wrap .img_content {
    overflow: hidden;
    border-radius: 19px;
    position: relative;
    box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 25%);
}

.card_slide .img_wrap::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url('../../images/giftCard/bg_giftcard_edge.png') no-repeat;
    width: 92px;
    height: 94px;
    z-index: 3;
}

.card_slide .img_wrap::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('../../images/giftCard/bg_giftcard_edge.png') no-repeat;
    width: 92px;
    height: 94px;
    z-index: 3;
    transform: rotate(180deg);
}

.card_slide .img_wrap img {
    width: 100%;
    height: 100%;
}

.card_slide_list {
    margin-top: 60px;
}

.card_slide_list .list_img_wrap {
    width: 144px;
    height: 90px;
    position: relative;
    overflow: hidden;
}

.card_slide_list .slick-current .list_img_wrap::before {
    content: '';
    position: absolute;
    width: 136px;
    height: 82px;
    border: 4px solid #009223;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.card_slide_list .list_img_wrap span {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #009223;
    visibility: hidden;
}

.card_slide_list .list_img_wrap span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 30px;
    background: url('../../images/giftCard/icon_radio_chk.png') 50% 50% no-repeat;
    transition-duration: 0.3s;
    visibility: hidden;
}

.card_slide_list .slick-current .list_img_wrap span {
    visibility: unset;
}

.card_slide_list .slick-current .list_img_wrap span::before {
    width: 30px;
    visibility: unset;
}

.card_slide_list img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.slick-prev, .slick-next {
    width: 50px !important;
    height: 50px !important;
}

.slick-prev {
    background: url('../../images/giftCard/icon_gift_slider_arr.png') no-repeat !important;
    background-position: 0 0 !important;
    left: -50px !important;
}

.slick-next {
    background: url('../../images/giftCard/icon_gift_slider_arr.png') no-repeat !important;
    background-position: 100% 0 !important;
    right: -50px !important;
}

.slick-prev:hover {
    background-position: 0 100% !important;
}

.slick-next:hover {
    background-position: 100% 100% !important;
}

.slick-prev:before, .slick-next:before {
    opacity: 1 !important;
    font-size: 0 !important;
}


.gift_input_wrap {
    width: 100%;
    background-color: #f6f6f6;
    padding: 80px 0 130px;
}

.gift_input_wrap form {
    width: 1170px;
    margin: 0 auto;
    background-color: #ffffff;
}

.gift_input_content {
    position: relative;
    padding: 86px 100px 0 100px;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 0;
}

.gift_input_content h2 {
    font-size: 26px;
    margin-bottom: 26px;
    letter-spacing: -0.05em;
    font-family: 'noto_m';
    color: #666666;
    margin-top: 70px;
}

.mt0 {
    margin-top: 0 !important;
}

.gift_input_content .receiver {
    padding: 22px 30px;
    box-sizing: border-box;
    font-size: 0;
    border: 1px solid #e5e5e5;
    margin-top: 10px;
}

.gift_input_content .receiver p {
    font-size: 16px;
    line-height: 35px;
    letter-spacing: -0.05em;
    width: 120px;
    font-family: 'noto_r';
    color: #666666;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.gift_input_content .receiver p span {
    background: url('../../images/giftCard/yellow_star.png');
    width: 7px;
    height: 6px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-left: 4px;
    margin-top: -4px;
}

.gift_input_content .receiver input {
    width: 786px;
    border: none;
    outline: none;
    height: 35px;
    line-height: 35px;
    text-indent: 20px;
    letter-spacing: -0.05em;
    color: #292929;
    font-family: 'noto_r';
}

.gift_input_content .receiver input::placeholder {
    font-family: 'noto_r';
    color: #dddddd;
}

.gift_input_content .receiver input[name="receiver_msg"] {
    width: 100%;
}

.gift_input_content .receiver:focus-within {
    border-color: #009223;
}

.gift_input_content ul {
    display: inline-block;
    width: 786px;
    position: relative;
    font-size: 0;
}

.gift_input_content ul li {
    display: inline-block;
    margin-right: 10px;
}

.gift_input_content .gift_money ul li.self_input {
    margin-top: 10px;
    display: flex;
}

.gift_input_content ul li span {
    display: block;
    min-width: 120px;
    font-size: 18px;
    font-family: 'sw_s';
    text-align: center;
    padding: 0 15px;
    line-height: 29px;
    position: relative;
    background-color: #f2f2f2;
    transition-duration: 0.2s;
    height: 35px;
    cursor: pointer;
    border-radius: 3px;
    overflow: hidden;
    box-sizing: border-box;
}

.gift_input_content .gift_money ul li.self_input span {
    color: #aaaaaa;
    font-size: 16px;
    line-height: 33px;
    font-family: 'noto_r';
}

.gift_input_content .gift_money ul li span::before {
    content: '';
    display: inline-block;
    background-image: url('../../images/giftCard/won_img.png');
    background-repeat: no-repeat;
    background-size: 32px auto;
    width: 16px;
    height: 14px;
    vertical-align: middle;
    margin-right: 5px;
}

.gift_input_content .gift_money ul li.self_input span::before {
    display: none;
}

.gift_input_content ul .check span {
    background-color: #009223;
    color: #ffffff !important;
}

.gift_input_content ul .check span::before {
    background-position: -16px 0;
}

.gift_input_content .gift_money ul li input {
    width: 251px;
    height: 35px;
    box-sizing: border-box;
    border: 2px solid #dddddd;
    background-color: #ffffff;
    border-radius: 2px;
    line-height: 35px;
    text-indent: 20px;
    letter-spacing: -0.05em;
    color: #292929;
    font-size: 16px;
    margin-left: 10px;
    display: none;
}

.gift_input_content .gift_money ul .self_input.check input {
    display: inline-block;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.gift_input_content .pay_method .creditCard {
    font-size: 16px;
    line-height: 33px;
    font-family: 'noto_r';
}

.gift_input_content .send_method span {
    font-size: 16px;
    line-height: 33px;
    font-family: 'noto_r';
    color: #aaaaaa;
    display: inline-block;
}

.gift_input_content .send_method .reserve.check .sel {
    display: inline-block;
}

.gift_input_content .send_method .sel {
    overflow: hidden;
    position: relative;
    margin-right: 15px;
    height: 35px;
    display: none;
}

.gift_input_content .send_method .sel::before {
    content: '';
    position: absolute;
    right: 13px;
    top: 15px;
    width: 12px;
    height: 7px;
    background: url('../../images/giftCard/icon_select_arr.png') 0 0 no-repeat;
}

.gift_input_content .send_method .sel select {
    width: 100%;
    height: 100%;
    border: 0;
    appearance: none;
    color: #999999;
    font-family: 'noto_dl';
    letter-spacing: -0.09em;
    text-indent: 16px;
}

.gift_input_content .send_method .select_date {
    margin-left: 45px;
    width: 180px
}


.gift_input_content .send_method .select_ampm {
    width: 94px;
}

.gift_input_content .send_method .select_time {
    width: 97px;
}

.inquiry_notice {
    width: 100%;
    padding: 15px 15px 19px 81px;
    box-sizing: border-box;
    min-height: 52px;
    background: #f6f6f6 url('../../images/giftCard/icon_exc.png') 25px 50% no-repeat;
    margin-top: 20px;
}

.inquiry_notice ul li {
    font-size: 13px;
    color: #999999;
    line-height: 1.385em;
    letter-spacing: -0.015em;
    margin-top: 5px;
    font-family: 'noto_dl';
    display: flex;
    flex-direction: column;
}

.inquiry_notice ul li:first-child {
    margin: 0;
}

.submit_wrap {
    width: 100%;
    margin-top: 100px;
    padding: 40px 0 60px;
    box-sizing: border-box;
    border-top: 1px solid #e8e8e8;
}

.submit_wrap a {
    width: 170px;
    display: block;
    margin: 0 auto;
    background-color: #009223;
    color: #fff;
    font-family: 'noto_l';
    font-weight: bold;
    border: none;
    font-size: 18px;
    border-radius: 30px;
    transition-duration: 0.2s;
    height: 50px;
    line-height: 50px;
    letter-spacing: -0.03em;
    cursor: pointer;
    text-align: center;
}

.submit_wrap a:hover {
    background-color: #00811f;
}

.submit_wrap a::after {
    content: '';
    display: inline-block;
    width: 21px;
    height: 16px;
    margin-left: 7px;
    vertical-align: middle;
    margin-top: -4px;
    background: url("../../images/giftCard/icon_reg.png") 0 0 no-repeat;
}

.history_content_wrap {
    width: 100%;
    margin-top: -35px;
    padding: 90px 0 130px;
    background-color: #f6f6f6;
}

.history_content_wrap .subTitle {
    font-size: 20px;
    margin-bottom: 56px;
    color: #292929;
    font-family: 'noto_l';
    font-weight: bold;
    text-align: center;
    line-height: 24px;
}

.history_list_wrap {
    width: 1170px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
    min-height: 390px;
}

.history_list_wrap .no_data {
    padding: 154px 0;
    text-align: center;
}

.history_list_wrap .no_data p {
    font-size: 16px;
    line-height: 18px;
    position: relative;
    color: #999999;
    letter-spacing: -0.05em;
    padding-top: 58px;
    font-family: 'noto_r';
}

.history_list_wrap .no_data p::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 50%;
    margin-left: -20px;
    background: url('../../images/giftCard/icon_exc_sm.png') no-repeat;
}