#container{
    background-color: #f6f6f6;
    padding-bottom: 130px;
    width: 100%;
}

.sub_header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    z-index: 100;
    background-color: white;
}

.sub_header .content {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

.sub_header .logo {
    display: none;
    position: absolute;
    left: 0;
    top: 0px;
    height: 60px;
    width: 110px;
    background: url(../../images/logo_sub_header.png) 0 50% no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
    opacity: 1;
}

.sub_header ul {
    width: 1170px;
    margin: 0 auto;
    font-size: 0;
}

.sub_header ul li {
    display: inline-block;
    position: relative;
    height: 60px;
}

.sub_header ul li a {
    font-size: 16px;
    color: #999999;
    line-height: 60px;
    font-family: 'noto_dl';
    letter-spacing: -0.08em;
}

.sub_header ul li+li {
    margin-left: 21px;
}

.sub_header ul li:nth-child(2) a,li:nth-child(3) a {
    margin-left: 24px;
}

.sub_header .active a {
    display: block;
    position: relative;
    color: #009223;
    font-family: 'noto_m';
}

.sub_header .active a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #009223;
}

.sub_header ul li+li::after {
    content: '';
    width: 4px;
    height: 4px;
    background-color: #dddddd;
    border-radius: 30px;
    position: absolute;
    left: 0;
    top: 28px;
}

.sub_header .top {
    display: none;
    position: absolute;
    right: 0;
    top: 0px;
    height: 32px;
    padding-top: 28px;
    font-family: 'sw_f';
    font-weight: bold;
    color: #bbbbbb;
    font-size: 13px;
    opacity: 1;
}

#content {
    padding-top: 0;
    position: relative;
    z-index: 3;
}

.subcard_wrapper .sub_tit_wrap {
    overflow: hidden;
    text-align: center;
    position: relative;
    margin-bottom: 80px;
    padding-top: 74px;
}

.subcard_wrapper .sub_tit_wrap .subTitle {
    display: inline-block;
    padding: 0 !important;
}

#content h2.subTitle {
    text-align: center;
    font-size: 40px;
    color: #292929;
    font-family: 'noto_dl';
    letter-spacing: -0.07em;
    padding: 134px 0 80px;
}

.card_info_wrap {
    overflow: hidden;
    margin: 0 auto;
    width: 1170px;
    background: #ffffff;
}

.card_info_wrap .gift_info_cont {
    overflow: hidden;
    padding: 90px 100px 0 100px;
}

.subcard_wrapper .card_info_wrap .gift_info_cont {
    padding-bottom: 80px;
}

.card_img {
    position: relative;
    height: 318px;
    width: 498px;
}

.subcard_wrapper .card_info_wrap .gift_info_cont .card_img {
    float: left;
}

.card_info_wrap .gift_info_cont .img {
    overflow: hidden;
    float: left;
    box-sizing: border-box;
    width: 480px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 1px 5px 10px 1px rgb(0 0 0 / 20%);
}

.card_img .img img {
    height: 100%;
    width: 100%;
}

.card_img .status {
    background: url(../../images/icon_status_use.png);
    display: block;
    text-align: center;
    position: absolute;
    left: 25px;
    top: 7px;
    height: 70px;
    width: 70px;
}

.card_img .status::before {
    content: '사용';
    color: #ffffff;
    font-size: 26px;
    font-family: 'noto_m';
    font-style: normal;
    line-height: 70px;
}

.card_info_wrap .gift_info_cont .info {
    float: right;
    width: 370px;
}

.subcard_wrapper .card_info_wrap .gift_info_cont .info {
    margin-top: -18px;
}

.mycard_total {
    overflow: hidden;
}

.card_info_wrap .gift_info_cont .mycard_total {
    margin-bottom: 67px;
}

.mycard_total .name_edit {
    overflow: hidden;
}

.form_text {
    background-color: #f8f8f8;
    display: inline-block;
}

.mycard_total .name_edit .form_text {
    background-color: #ffffff;
}

.form_text input {
    width: 100%;
    border: 0;
    background: transparent;
    height: 45px;
    color: #292929;
    font-size: 16px;
    text-indent: 15px;
}

.mycard_total .name_edit .form_text input {
    color: #999999;
    font-family: 'sw_s';
    font-size: 20px;
    letter-spacing: -0.05em;
}

.subcard_wrapper .mycard_total .name_edit .form_text input {
    text-align: center;
}

.mycard_total .txt_price {
    color: #292929;
    font-family: 'sw_f';
    font-size: 40px;
    height: 45px;
}

.mycard_total .txt_price:before {
    background: url(../../images/icon_won_bk_28x17.png) no-repeat 0 0;
    display: inline-block;
    content: '';
    line-height: 0;
    position: relative;
    top: -3px;
    margin-right: 8px;
    height: 17px;
    width: 28px;
}

.card_info_wrap .gift_info_cont .icon_menu {
    overflow: hidden;
    margin-bottom: 37px;
}

.card_info_wrap .gift_info_cont .icon_menu .go_menu {
    display: block;
    float: left;
    position: relative;
    width: 33.3333%;
}

.card_info_wrap .gift_info_cont .icon_menu .go_menu .i_subcard {
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
    height: 40px;
    width: 62px;
}

.card_info_wrap .gift_info_cont .icon_menu .go_menu span {
    display: block;
    color: #292929;
    font-family: 'noto_m';
    letter-spacing: -0.05em;
    text-align: center;
}

.card_info_wrap .gift_info_cont .icon_menu .go_menu ~ .go_menu::before {
    background-color: #dddddd;
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    height: 70px;
    width: 1px;
}

.btn {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    transition-duration: 0.2s;
}

.card_info_wrap .gift_info_cont .btn_menu {
    overflow: hidden;
    cursor: pointer;
}

.card_info_wrap .gift_info_cont .btn_menu .btn {
    background-color: #f6f6f6;
    border-radius: 0;
    transition-duration: 0.3s;
    width: 180px;
}

.card_info_wrap .gift_info_cont .btn_menu .btn:hover {
    background-color: #e5e5e5;
}

.btn span {
    display: inline-block;
    vertical-align: middle;
    height: 46px;
    line-height: 46px;
}

.card_info_wrap .gift_info_cont .btn_menu .btn span {
    color: #999999;
    font-size: 14px;
    font-family: 'noto_l';
    line-height: 46px;
    height: 46px;
}

.card_info_wrap .gift_info_cont .info .p_notice {
    text-align: center;
    font-size: 14px;
    padding-top: 16px;
    font-family: 'noto_dl';
}

.card_info_wrap .gift_info_cont .info .p_notice.red {
    color: #ff4b06;
}

.card_charge {
    overflow: hidden;
}

.card_charge .payment_subcard {
    margin-bottom: 20px;
}

.subcard_wrapper .card_info {
    overflow: hidden;
    text-align: center;
}

.card_charge .card_info {
    margin-bottom: 72px;
}

.card_charge .card_info p{
    font-family: 'noto_r';
    font-size: 16px;
    color: #666666;
}

.subcard_wrapper .card_info .left_money{
    color: #292929;
    font-family: 'sw_f';
    font-size: 40px;
    letter-spacing: 0em;
}

.subcard_wrapper .card_info .left_money:before {
    background: url(../../images/icon_won_bk_28x17.png) no-repeat 0 0;
    content: '';
    display: inline-block;
    vertical-align: 5px;
    margin-right: 8px;
    height: 17px;
    width: 28px;
}

.subcard_wrapper .card_info .card_img {
    margin: 0 auto;
    margin-top: 40px;
}

.card_img .img {
    box-shadow: 6px 5px 7px rgb(0 0 0 / 20%);
    overflow: hidden;
    border-radius: 20px;
    height: 300px;
    width: 480px;
}

.form_box {
    overflow: hidden;
}

.form_box .write_info_wrap {
    overflow: hidden;
}

.write_info_wrap .input_set {
    overflow: hidden;
    position: relative;
}

.write_info_wrap .input_set dl {
    background-color: #fff;
    overflow: hidden;
    border: 1px solid #e5e5e5;
    padding: 22px 30px;
}

.write_info_wrap .input_set dt {
    float: left;
    position: relative;
    font-family: 'noto_m';
    color: #666666;
    width: 120px;
    line-height: 35px;
    letter-spacing: -0.05em;
}

.write_info_wrap .input_set dd {
    float: left;
    position: relative;
    width: 786px;
}

.form_radio {
    display: inline-block;
    overflow: hidden;
}

.write_info_wrap .input_set .form_radio.square {
    float: right;
    line-height: 0;
    font-size: 0;
}

.write_info_wrap .input_set .form_radio.square {
    float: none;
}

.card_charge .payment_subcard .write_info_wrap .input_set .form_radio.square {
    float: left;
}

.form_radio.square label {
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.form_radio.square label input {
    position: absolute;
    left: -10px;
    top: -10px;
    font-size: 0;
    line-height: 0;
    opacity: 0;
    height: 0;
    width: 0;
}

input {
    vertical-align: middle;
    font-family: 'noto_dl';
    outline: none;
}

.form_radio.square label .shape {
    background-color: #f2f2f2;
    display: inline-block;
    border-radius: 3px;
    box-sizing: border-box;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    font-family: 'noto_dl';
    line-height: 35px;
    text-align: center;
    transition-duration: 0.2s;
    height: 35px;
    width: 50px;
}

.form_radio.square label input:checked + .shape {
    background-color: #009223;
    color: #fff;
}

.write_info_wrap .input_set .form_radio.square .shape {
    padding-right: 20px;
    padding-left: 20px;
    min-width: 120px;
    width: auto;
}

.card_charge .payment_subcard .write_info_wrap .form_radio.square label .shape {
    padding-right: 20px;
    padding-left: 20px;
    min-width: 120px;
    width: auto;
}

.form_radio.square label ~ label {
    margin-left: 6px;
}

.write_info_wrap .input_set .form_radio.square label ~ label {
    margin-left: 10px;
}

.form_box .write_info_wrap .direct_input {
    display: flex;
    overflow: hidden;
    float: none;
    margin-top: 10px;
    width: 100%;
}

.write_info_wrap .input_set dd .form_text {
    background-color: #fff;
    width: 100%;
}

.write_info_wrap .input_set dd .form_text input[type="number"]::-webkit-outer-spin-button,
.write_info_wrap .input_set dd .form_text input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form_box .write_info_wrap .direct_input .form_text {
    margin-left: 10px;
    width: 251px;
}

.write_info_wrap .input_set dd .form_text input {
    height: 35px;
    line-height: 35px;
    text-indent: 20px;
    letter-spacing: -0.05em;
}

.form_box .write_info_wrap .direct_input .form_text input {
    background-color: #ffffff;
    border: 2px solid #dddddd;
    border-radius: 2px;
    box-sizing: border-box;
}

.form_box .write_info_wrap .direct_input .form_text input::placeholder{
    color:#dddddd;
}

.write_info_wrap > div ~ div {
    margin-top: 10px;
}

.write_info_wrap .input_set {
    overflow: hidden;
    position: relative;
}

.inquiry_notice {
    background: #f6f6f6 url(../../images/icon_exc.png) 25px 50% no-repeat;
    display: flex;
    color: #999999;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
    margin-top: 20px;
    padding: 15px 15px 19px 81px;
    min-height: 52px;
}

.card_charge .payment_subcard .inquiry_notice {
    margin-top: 20px;
}

.inquiry_notice li {
    line-height: 1.385em;
    letter-spacing: -0.015em;
    position: relative;
    font-size: 13px;
    font-family: 'noto_dl';
}

.card_charge .total_money {
    overflow: hidden;
}

.card_charge .total_money .wh_box {
    padding: 40px 90px;
}

.card_charge .total_money dl {
    float: left;
}

.card_charge .total_money dt, .card_charge .total_money dd {
    display: inline-block;
    overflow: hidden;
}

.card_charge .total_money dt {
    color: #292929;
    font-size: 24px;
    font-family: 'noto_b';
    line-height: 50px;
}

.card_charge .total_money dd {
    color: #009223;
    font-family: 'sw_f';
    font-size: 40px;
    vertical-align: 1px;
    margin-left: 15px;
}

.card_charge .total_money dd:after {
    content: '원';
    color: inherit;
    font-size: 24px;
    font-family: 'noto_b';
}

.btn_area {
    text-align: center;
}

.card_charge .total_money .btn_area {
    float: right;
}

.btn.bgc_white {
    background-color: #fff;
    border: 2px solid #009223;
    color: #009223;
    box-sizing: border-box;
}

.btn_area .btn {
    font-family: 'noto_r';
    cursor: pointer;
}

.btn_area .btn span {
    font-size: 18px;
    font-family: 'noto_l';
}

.btn.bgc_point {
    background-color: #009223;
    color: #fff;
    border: none;
}

.btn.bgc_point:hover {
    background-color: #00811f;
}

.btn.bgc_white:hover {
    border-color: #00811f;
}

.btn_area .btn ~ .btn {
    margin-left: 7px;
}

.btn.bgc_point span {
    height: 50px;
    line-height: 50px;
    letter-spacing: -0.03em;
}

.btn.i_reg:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 16px;
    background: url(../../images/icon_reg.png) 0 0 no-repeat;
    margin-left: 7px;
}

.subcard_wrapper .confirm_comment {
    overflow: hidden;
    margin-top: 60px;
}

.subcard_wrapper .confirm_comment p {
    text-align: center;
}

.subcard_wrapper .confirm_comment p strong {
    display: block;
    color: #292929;
    font-size: 28px;
    font-family: 'noto_r';
    line-height: 1.1em;
    margin-bottom: 10px;
}

.subcard_wrapper .confirm_comment p span {
    display: block;
    color: #999;
    letter-spacing: -0.02em;
    font-family: 'noto_dl';
}

.subcard_wrapper .charge_done .btn_area {
    border-top: 1px solid #e8e8e8;
    margin-top: 98px;
    padding-top: 40px;
}

.btn.bgc_gray {
    background-color: #999;
}

.btn.bgc_gray:hover{
    background-color: #888888;
}

.subcard_wrapper .charge_done {
    background-color: #ffffff;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 90px;
    width: 1170px;
}

.btn.bgc_gray span {
    height: 50px;
    line-height: 50px;
    color: #fff;
}

.subcard_wrapper .board_list_wrapper {
    padding-bottom: 0;
}

.subcard_wrapper .tit {
    margin-bottom: 30px;
}

.form_box h2, .form_box h3 {
    font-size: 26px;
    font-family: 'noto_r';
    margin-bottom: 26px;
    letter-spacing: -0.05em;
}

.subcard_wrapper .tit h2 {
    display: inline;
    vertical-align: middle;
    color: #666666;
}

.subcard_wrapper .tit .info_copy {
    display: inline-block;
    color: #999999;
    font-size: 13px;
    vertical-align: middle;
    padding-left: 15px;
    font-family: 'noto_dl';
    line-height: 16px;
}

.wh_box {
    background-color: #fff;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 90px 100px;
    width: 1170px;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.board_list_wrapper table {
    clear: both;
    border-top: 4px solid #009223;
}

caption {
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.board_list_wrapper table th {
    color: #009223;
    font-size: 16px;
    font-family: 'noto_dl';
    height: 69px;
    border-bottom: 1px solid #009223;
    text-align: center;
}

.board_list_wrapper table td {
    height: 69px;
    border-bottom: 1px solid #dddddd;
    text-align: center;
    color: #292929;
    font-size: 16px;
}

.subcard_wrapper .board_list_wrapper tbody td {
    font-family: 'sw_s';
}

.board_list_wrapper .use_class {
    display: inline-block;
    overflow: hidden;
    border-radius: 10px 3px 3px 3px;
    color: #fff;
    line-height: 33px;
    height: 35px;
    width: 85px;
    font-family: 'noto_dl';
}

.board_list_wrapper .c_use .use_class {
    background-color: #ff4b06;
}

.board_list_wrapper .amount {
    display: inline-block;
    font-family: 'sw_f';
}

.board_list_wrapper .c_use .amount {
    color: #ff4b06;
}

.board_list_wrapper .amount:before {
    color: inherit;
    padding-right: 3px;
}

.board_list_wrapper .c_use .amount:before {
    content: '-';
}

.board_list_wrapper .c_charge .use_class {
    background-color: #009223;
}

.board_list_wrapper .c_charge .amount {
    color: #009223;
}

.board_list_wrapper .c_charge .amount:before {
    content: '+';
}

#historyList .data_none{
    padding: 170px 0 180px;
}

#historyList .data_none p {
    position: relative;
    line-height: 18px;
    letter-spacing: -0.05em;
    color: #999;
    padding-top: 58px;
    font-family: 'noto_dl';
}

#historyList .data_none p:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -20px;
    background: url(../../images/icon_exc_sm.png)no-repeat;
    width: 40px;
    height: 40px;
}