.content {
    width: 1170px; 
    margin: 0 auto; 
    position: relative; 
}

.sub_header{
    left: 0;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #e5e5e5;
    height: 59px;
    z-index: 5;
}
.sub_header .sub_loc{
    text-align: center;
}

.sub_header .sub_loc ul li a{
    font-family: 'noto_r';
    display: block;
    line-height: 60px;
    color: #999999;
    font-size: 16px;
    letter-spacing: -0.08em;
    position: relative;
}
.sub_header .sub_loc ul{
    overflow: hidden;
    display: inline-block;
}

.sub_header .sub_loc ul li{
    float: left;
    position: sticky;
    top: 0;
    left: 0;
    display: list-item;
}

.sub_header .sub_loc ul li + li {
    padding-left: 24px;
    margin-left: 21px;
}

.sub_header .sub_loc ul li + li::after{
    content: '';
    width: 4px;
    height: 4px;
    background-color: #dddddd;
    border-radius: 30px;
    position: absolute;
    left: 0;
    top: 28px;
}
.sub_header .sub_loc ul li.active a{
    color: #009223;
    font-family: 'noto_r';
}

.sub_header .sub_loc ul li.active a:after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    bottom: 0;
    background-color: #009223;
}

.sub_header .logo{
    position: absolute;
    left: 0;
    top: 0px;
    height: 60px;
    width: 110px;
    background: url(../../images/subHeaderImages/logo_sub_header.png)0 50% no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
}

.sub_header .top{
    position: absolute;
    right: 0;
    top: 0px;
    height: 32px;
    padding-top: 28px;
    font-family: 'sw_f';
    color: #bbbbbb;
    font-size: 13px;
}

.sub_header .top::after{
    content: '';
    width: 12px;
    height: 15px;
    background: url(../../images/subHeaderImages/icon_arr_top.png) 50% 0 no-repeat;
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    top: 18px;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}