body{
    font-family: 'noto_dl';
}

input {
    vertical-align: middle;
    font-family: 'noto_dl';
    outline: none;
}

.franchiseApplication_header .content {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    height: 60px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#container{
    background-color: #f6f6f6;
    padding-bottom: 130px;
}

.franchiseApplication_header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    z-index: 100;
}

.franchiseApplication_header .logo {
    display: none;
    position: absolute;
    left: 0;
    top: 0px;
    height: 60px;
    width: 110px;
    background: url('../../images/menuinfo_images/logo_sub_header.png') 0 50% no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
    opacity: 1;
}

.franchiseApplication_header .top {
    display: none;
    position: absolute;
    right: 0;
    top: 0px;
    height: 32px;
    padding-top: 28px;
    font-family: 'sw_f';
    font-weight: bold;
    color: #bbbbbb;
    font-size: 13px;
    opacity: 1;
}

.franchiseApplication_header .top:after {
    content: '';
    width: 12px;
    height: 15px;
    background: url('../../images/menuinfo_images/icon_arr_top.png') 50% 0 no-repeat;
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    top: 18px;
}

.header_div{
    text-align: center;
}

.franchiseApplication_header ul {
    overflow: hidden;
    display: inline-block;
}

.franchiseApplication_header ul li {
    float: left;
    position: relative;
}

.franchiseApplication_header ul li:first-child{
    margin-left: 0;
    padding-left: 0;
}

.franchiseApplication_header ul li a {
    font-size: 16px;
    color: #999999;
    line-height: 60px;
    font-family: 'noto_dl';
    letter-spacing :-0.08em;
    display: block;
    position: relative;
}

.franchiseApplication_header ul li+li{
    padding-left: 24px;
    margin-left: 21px;
}

.franchiseApplication_header ul li + li::after {
    content: '';
    width: 4px;
    height: 4px;
    background-color: #dddddd;
    border-radius: 30px;
    position: absolute;
    left: 0;
    top: 28px;
}

.franchiseApplication_header .active a {
    display: block;
    position: relative;
    color: #009223;
    font-family: 'noto_m';
}

.franchiseApplication_header .active a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #009223;
}

.franchiseApplication_wrapper {
    background-color: #fff;
    width: 1028px;
    margin: 0 auto;
    border: 1px solid #e8e8e8;
    padding: 0 70px 49px;
}

.franchiseApplication_wrapper h2.franchiseApplication_title {
    font-size: 40px;
    font-family: 'noto_dl';
    letter-spacing: -0.07em;
    color: rgb(41, 41, 41);
    text-align: center;
    padding: 74px 0px 80px;
}

.franchiseApplication_wrapper .agree_wrapper {
    overflow: hidden;
    margin-bottom: 96px;
}

.franchiseApplication_wrapper .agree_wrapper .agree:first-child {
    margin-right: 48px;
}

.franchiseApplication_wrapper .agree_wrapper .agree {
    float: left;
    width: 490px;
}

.franchiseApplication_wrapper .agree_wrapper .agree h3 {
    color: #666666;
    font-size: 18px;
    font-weight: 300;
    font-family: 'noto_m';
    letter-spacing: -0.05em;
    padding-bottom: 19px;
}

.franchiseApplication_wrapper .agree_wrapper .agree .scroll_wrapper {
    border: 2px solid #e5e5e5;
    height: 150px;
    padding: 13px 0 13px 17px;
    overflow: hidden;
    line-height: 21px;
    margin-bottom: 14px;
}

.agreeScrollBox {
    position: relative;
    overflow: auto;
    height: 100%;
    max-width: 100%;
    outline: 0;
    direction: ltr;
    margin-right: 4px;
}

.franchiseApplication_wrapper .agree_wrapper .agree .scroll_wrapper .agreeTxt {
    margin-right: 10px;
    color: #bbbbbb;
    font-size: 13px;
    font-family: 'noto_dl';
    line-height: 15px;
}

.agreeTxt {
    overflow: hidden;
    width: auto;
    height: auto;
    position: relative;
    top: 0px;
    left: 0px;
}
.agreeScrollBox::-webkit-scrollbar{
    width:8px;
}

.agreeScrollBox::-webkit-scrollbar-thumb{
    background-color:#e5e5e5;
    border-radius: 5px;
    background-clip: padding-box;
    border:2px solid transparent;
}
.form_checkbox {
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    color: #292929;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.05em;
}

.form_checkbox input[type="checkbox"] {
    height: 0;
    opacity: 0;
    width: 0;
    position: absolute;
    left: -10px;
}

.form_checkbox input[type="checkbox"]{
    vertical-align: middle;
    font-family: 'noto-b';
    outline: none;
}

.form_checkbox input[type="checkbox"] + span.icon{
    width: 26px;
    height: 26px;
    border: 2px solid #dddddd;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-right: 10px;
}

.form_checkbox input[type="checkbox"]:checked+span.icon:before {
    width: 24px;
}

.form_checkbox input[type="checkbox"]+span.icon::before {
    content: '';
    width: 0;
    height: 20px;
    background: url(../../images/icon_checkbox.png) 0 0 no-repeat;
    position: absolute;
    left: 4px;
    top: 0;
    transition-duration: 0.2s;
}

.form_checkbox em {
    color: #009223;
    font-style: normal;
}

#content h3.h_title {
    font-size: 28px;
    color: #292929;
    font-weight: bold;
    letter-spacing: -0.05em;
    padding-bottom: 38px;
    font-family: 'noto_r';
}

.board_write_wrapper {
    position: relative;
}

.board_write_wrapper .essential {
    color: #999999;
    font-size: 16px;
    letter-spacing: -0.05em;
    position: absolute;
    right: 0;
    top: -29px;
    background: url(../../images/icon_ess.png) 0 9px no-repeat;
    padding-left: 10px;
}

.board_write_wrapper table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.board_write_wrapper th {
    font-family: 'noto_m';
    font-weight: 300;
    color: #666666;
    font-size: 16px;
    height: 21px;
    padding-top: 24px;
    border-bottom: 1px solid #e8e8e8;
    text-align: left;
    vertical-align: top;
}

.board_write_wrapper th .essImg {
    background: url(../../images/icon_ess.png) 0 0 no-repeat;
    width: 7px;
    height: 6px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-left: 4px;
    top: -1px;
}

.board_write_wrapper td {
    height: 45px;
    padding: 12px 0;
    border-bottom: 1px solid #e8e8e8;
}

.form_text {
    background-color: #f8f8f8;
    display: inline-block;
}

.form_text input {
    width: 100%;
    border: 0;
    background: transparent;
    height: 45px;
    color: #292929;
    font-size: 16px;
    text-indent: 15px;
}

.form_text input::placeholder{
    color: #bbbbbb;
}

.board_write_wrapper .em {
    display: inline-block;
    vertical-align: middle;
    width: 63px;
    text-align: center;
    color: #292929;
    font-size: 15px;
}

.form_select {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    border: 2px solid #dddddd;
}

.board_write_wrapper .form_select {
    margin-right: 7px;
}

.form_select:before {
    content: '';
    position: absolute;
    right: 13px;
    top: 18px;
    width: 12px;
    height: 7px;
    background: url(../../images/icon_select_arr.png) 0 0 no-repeat;
    z-index: 3;
}

.form_select select {
    width: 100%;
    border: 0;
    height: 41px;
    line-height: 41px;
    font-size: 16px;
    color: #999999;
    position: relative;
    z-index: 1;
    text-indent: 9px;
}

.form_textarea {
    background-color: #f8f8f8;
    display: inline-block;
}

.form_textarea textarea {
    background-color: transparent;
    width: 100%;
    border: 0;
    font-family: 'noto_dl';
    font-size: 16px;
    line-height: 120%;
    margin: 15px 0 0 15px;
    resize: none;
}

.form_textarea textarea::placeholder{
    color: #bbbbbb;
}

.form_file {
    border: 2px solid #dddddd;
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-right: 98px;
    box-sizing: border-box;
}

.form_file:before {
    content: '';
    position: absolute;
    right: 96px;
    top: 13px;
    width: 2px;
    height: 16px;
    background-color: #e8e8e8;
}

.form_file input[type="file"] {
    position: absolute;
    right: 0;
    top: 0;
    height: 41px;
    width: 98px;
    text-indent: -9999px;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
}

.form_file input[type="text"] {
    width: 100%;
    height: 41px;
    border: 0;
    display: block;
    text-indent: 13px;
}

.form_file:after {
    content: '파일선택';
    position: absolute;
    right: 20px;
    top: 0;
    z-index: 1;
    cursor: pointer;
    line-height: 41px;
    color: #009223;
    font-size: 16px;
    font-family: 'noto_m';
    letter-spacing: -0.05em;
}

.board_write_wrapper td .fileType {
    font-size: 13px;
    color: #999999;
    margin-left: 39px;
}

.board_write_wrapper .agree_info {
    overflow: hidden;
    border-bottom: 1px solid #e8e8e8;
    padding: 25px 0 13px 0;
}

.board_write_wrapper .agree_info >p {
    float: left;
    color: #666666;
    font-size: 16px;
    font-family: 'noto_m';
    font-weight: 300;
    letter-spacing: -0.03em;
    text-indent: 10px;
}

.board_write_wrapper .agree_info >p:after {
    content: '';
    background: url(../../images/icon_ess.png) 0 0 no-repeat;
    width: 7px;
    height: 6px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-left: 4px;
    top: -2px;
}

.board_write_wrapper .agree_info >.form_checkbox {
    float: right;
    top: -5px;
}

.form_checkbox input[type="checkbox"] {
    height: 0;
    opacity: 0;
    width: 0;
    position: absolute;
    left: -10px;
}

.inquiry_notice {
    margin: 30px 0 100px;
    background: #f6f6f6 url(../../images/icon_exc.png) 25px 50% no-repeat;
    display: flex;
    color: #999999;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
    padding: 15px 15px 19px 81px;
    min-height: 52px;
}

.inquiry_notice li {
    line-height: 1.385em;
    letter-spacing: -0.015em;
    position: relative;
    font-size: 13px;
}

.inquiry_notice li:last-child {
    margin-top: 5px;
}

.board_write_wrapper .cont_flex {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.form_circle {
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    color: #292929;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.05em;
    margin-left: 15px;
}

.form_circle input[type="radio"] {
    height: 0;
    opacity: 0;
    width: 0;
    position: absolute;
    left: -10px;
}

.form_circle .icon {
    width: 26px;
    height: 26px;
    border: 2px solid #dddddd;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-right: 10px;
}

.form_circle input[type="radio"]:checked+span.icon:before {
    width: 24px;
}

.form_circle input[type="radio"]+span.icon::before {
    content: '';
    width: 0;
    height: 20px;
    background: url(../../images/icon_checkbox.png) 0 0 no-repeat;
    position: absolute;
    left: 4px;
    top: 0;
    transition-duration: 0.2s;
}

.form_circle em {
    color: #666666;
    font-style: normal;
}

.btn {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    transition-duration: 0.2s;
}

.btn span {
    display: inline-block;
    vertical-align: middle;
    height: 46px;
    line-height: 46px;
    font-size: 18px;
}

.btns_wrapper {
    text-align: center;
    border-top: 1px solid #e8e8e8;
    position: relative;
    left: -70px;
    margin-right: -140px;
    padding-top: 40px;
}

.btns_wrapper .btn {
    margin: 0 4px;
}

.btn.bgc_white {
    background-color: #fff;
    border: 2px solid #009223;
    color: #009223;
    box-sizing: border-box;
}

.btn.bgc_white:hover{
    border-color: #00811f;
}

.btn.bgc_point {
    background-color: #009223;
    color: #fff;
}

.btn.bgc_point:hover{
    background-color: #00811f;
}

.btn.bgc_point span {
    height: 50px;
    line-height: 50px;
    letter-spacing: -0.03em;
}

.btn.i_reg:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 16px;
    background: url(../../images/icon_reg.png) 0 0 no-repeat;
    margin-left: 7px;
}

.date_calendar {
    display: inline-block;
    width: 196px;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    border: 2px solid #ddd;
    box-sizing: border-box;
}

.date_calendar input {
    position: relative;
    width: calc(100% - 48px);
    border: 0;
    height: 41px;
    line-height: 41px;
    font-size: 16px;
    color: #999;
    text-indent: 9px;
}

.date_calendar img {
    cursor: pointer;
    position: relative;
    vertical-align: top;
    float: right;
}

.date_calendar:after {
    content: '';
    position: absolute;
    right: 48px;
    top: 13px;
    width: 2px;
    height: 16px;
    background-color: #e8e8e8;
}