html,body,button,dl,dt,dd,div,form,fieldset,legend,h1,h2,h3,h4,h5,h6,input,select,textarea,ul,ol,li,p,pre,table,td,th,caption,a,button,figure{margin:0;padding:0; line-height:120%;}
html,body{background-color:#fff;}
h1,h2,h3,h4,h5,h6{font-weight:normal}
body{font-size:16px; color:#666666; font-family:font_ns, sans-serif;}
input{vertical-align:middle;  font-family:font_ns, sans-serif; outline:none;}
button {border:none; cursor:pointer; font:inherit; outline:none;}

ol,ul{list-style:none}
a{text-decoration:none; color:#333;}
img{vertical-align:top; border:0}
table{border-collapse:collapse;border-spacing:0; width:100%;}
table {display: table;}
caption{visibility:hidden; font-size:0; line-height:0; opacity:0; height:0; overflow:hidden;}
em{font-style:normal;}

#container {position: relative;}

#wrap{min-width:1280px;}
.content{max-width:1170px; margin:0 auto; position:relative;}

.content {max-width: 1170px; margin: 0 auto; position: relative;}
.content_main{padding-top:0; position:relative; z-index:3;}
.content_main h2.sub_tit{text-align:center; font-size:40px; color:#292929; font-weight:300; letter-spacing:-0.07em; padding:70px 0 80px; font-family: noto_m; background-color: #fff;}
.content_main h3.h_tit {font-size:28px; color:#292929; font-weight:bold; letter-spacing:-0.05em; padding-bottom:38px;}

.content_wrap {position: sticky; left: 0; top: 0; width: 100%; border-bottom: 1px solid #e5e5e5; height: 59px;  background-color: #fff; z-index: 5;}
.content_wrap .logo {position: absolute; left: 0; top: 0; height: 60px; width: 110px; background: url('../../images/common/logo_sub_header.png') 0 50% no-repeat; overflow: hidden;  font-size: 0; line-height: 0; display: none;}
.content_wrap .top {position: absolute; right: 0; top: 0; height: 32px; padding-top: 28px; font-family: font_sw; font-weight: bold; color: #bbbbbb; font-size: 13px; font-family: sw_f; display: none;}
.content_wrap .top::after {content: ''; width: 12px; height: 15px; background: url(../../images/common/icon_arr_top.png) 50% 0 no-repeat; display: inline-block; position: absolute; left: 0; width: 100%; top: 18px;}
.content_wrap .content_nav {text-align: center;}
.content_wrap .content_nav ul {overflow: hidden; display: inline-block;}
.content_wrap .content_nav ul li {float: left; position: relative;}
.content_wrap .content_nav ul li + li { padding-left: 24px; margin-left: 21px;}
.content_wrap .content_nav ul li + li::after {content: ''; width: 4px; height: 4px; background-color: #dddddd; border-radius: 30px; position: absolute; left: 0; top: 28px;}
.content_wrap .content_nav ul li:first-child {margin-left: 0; padding-left: 0;}
.content_wrap .content_nav ul li:first-child::after {display: none;}
.content_wrap .content_nav ul li a {display: block; line-height: 60px; color: #999999; font-size: 16px; letter-spacing: -0.08em; position: relative; font-family: noto_r;}
.content_wrap .content_nav ul li.active a {color: #009223; font-weight: 300;}
.content_wrap .content_nav ul li.active a::after {content:''; position: absolute; left: 0; width: 100%; height: 4px; bottom: 0; background-color: #009223;}

.franchise_wrapper{margin-top:-61px;}
.franchise_wrapper .txt{font-size:16px; line-height:26px; text-align:center; letter-spacing:-0.045em; font-family: noto_dl;}
.franchise_wrapper .nation_store {overflow:hidden; margin-top:66px;}
.franchise_wrapper .nation_store >div{float:left; width:50%; height:220px; background-color:#f6f6f6; color:#292929; overflow:hidden; transition-duration:0.3s; position:relative;}
.franchise_wrapper .nation_store >div:after{content:''; position:absolute; left:0; width:100%; top:0; height:100%; z-index:2; opacity:0; transition-duration:0.3s}
.franchise_wrapper .nation_store >div .inner{text-align:center; font-size:30px; margin-top:55px; position:relative; z-index:3; font-family: noto_l;}
.franchise_wrapper .nation_store >div .inner p{margin-bottom:38px;}
.franchise_wrapper .nation_store >div .inner p span{display:inline-block; position:relative; padding-bottom:6px; margin-bottom: 20px;}
.franchise_wrapper .nation_store >div .inner p span:after{content:''; height:1px; position:absolute; left:0; right:0; bottom:0; transition-duration:0.3s; margin-bottom: -10px; background-color: #000;}
.franchise_wrapper .nation_store >div .inner strong{font-weight:bold; font-size:80px; letter-spacing:-0.025em; display:inline-block; margin-right:5px; font-family: noto_m;}
.franchise_wrapper .nation_store .nation .inner{float:right; margin-right:197px;}
.franchise_wrapper .nation_store .store .inner{float:left; margin-left:153px;}

.franchise_wrapper .nation_store > .nation.hover{color:#fff;}
.franchise_wrapper .nation_store > .nation.hover .inner p span:after{background-color:#fff;}
.franchise_wrapper .nation_store > .nation.hover::after{opacity:1;}
.franchise_wrapper .nation_store > .store.hover{color:#fff;}
.franchise_wrapper .nation_store > .store.hover .inner p span:after{background-color:#fff;}
.franchise_wrapper .nation_store > .store.hover::after{opacity:1;}
.franchise_wrapper .nation_store .nation:after{background:url(../../images/franchise/bg_nation.jpg) 0 0 no-repeat;}
.franchise_wrapper .nation_store .store:after{background:url(../../images/franchise/bg_store.jpg) 0 0 no-repeat;}

.franchise_wrapper .brand{width:1170px; margin:0 auto 48px;}
.franchise_wrapper .brand h3{text-align:center; margin:96px 0 0 0; font-family: noto_m; font-weight: bold;}
.franchise_wrapper .brand > ul{overflow:hidden; margin-left:-30px; display: block;}
.franchise_wrapper .brand > ul > li{height:460px; float:left; width:560px; position:relative; margin-left: 40px;}
.franchise_wrapper .brand > ul > li h4{background-color:#ffce32; width:170px; height:150px; padding-top:41px; box-sizing:border-box; text-align:center; line-height:30px; color:#009223; font-size:22px; font-weight:bold; position:absolute; left:0; top:215px; font-family:font_sw; font-family: sw_f;}
.franchise_wrapper .brand > ul > li ul{margin:19px 0 0 192px;}
.franchise_wrapper .brand > ul > li ul li{font-size:16px; color:#666666; line-height:26px; letter-spacing:-0.055em; text-indent:-12px; margin-left:12px; width: 366px; font-family: noto_dl;}

.process{height:710px; text-align:center; color:#fff; background:url(../../images/franchise/bg_franchise_process.jpg) 50% 0 no-repeat;}
.process h3{font-size:28px; font-weight:bold; padding-top:95px; letter-spacing:-0.04em; font-family: noto_dl;}
.process .txt{font-size:16px; line-height:26px; margin-top:22px; font-family: noto_r;}
.process .steps{margin-top:65px;}
.process .steps >ol{overflow:hidden; display:inline-block;}
.process .steps >ol >li{float:left; width:200px; padding:0 22px; position:relative;}
.process .steps >ol >li:after{content:''; position:absolute; left:-3px; top:95px; background:url(../../images/common/icon_arr_r02.png) 0 0 no-repeat; width:6px; height:11px;}
.process .steps >ol >li:first-child:after{display:none;}
.process .steps >ol >li .step{width:192px; height:192px; border:4px solid #009223; border-radius:100px; font-size:22px; line-height:26px; margin:0 auto 16px;}
.process .steps >ol >li .step em{display:block; font-weight:300; font-size:13px; padding-top:67px; font-family: noto_m;}
.process .steps >ol >li .step strong{font-weight:300; letter-spacing:-0.02em; font-size: 22px; font-family: noto_m;}
.process .steps >ol >li ul li{line-height:22px; font-size: 16px; margin-bottom:4px; letter-spacing:-0.035em; font-family: noto_dl;}
.process .steps >ol >li:nth-child(odd) .step{border-color:#ffc300}
.process .steps >ol >li:nth-child(odd) .step em{color:#ffd800}
.process .steps >ol >li:nth-child(even) .step{border-color:#009223}
.process .steps >ol >li:nth-child(even) .step em{color:#62ce08}
.process .steps .text{text-align:left; width:1170px; margin:0 auto; color:#999999; font-size:12px; padding-top:32px; letter-spacing:-0.04em; position:relative; left:-4px; font-size: sw_s; font-weight: bold;}



.board_list table th{color:#009223; font-size:16px; font-weight:300; height:69px; border-bottom:1px solid #009223; text-align:center;}
.board_list table td{height:69px; border-bottom:1px solid #dddddd; text-align:center; color:#292929; font-size:16px;}

.invest_cost{margin-top:95px; width: 100%;}
.invest_cost .h_tit{text-align:center; padding-bottom:7px !important; font-size:28px; color:#292929; font-weight:bold; letter-spacing:-0.05em; font-family: noto_m;}
.invest_cost .board_list{position:relative; padding-bottom:127px;} 
.invest_cost .board_list .cont_right{position: absolute; float:right; font-size:13px; color:#999999; margin-bottom:16px; letter-spacing:-0.03em; top: -30px; right: 315px;}
.invest_cost .board_list .cont_right p {font-size: 13px; font-family: noto_dl;}
.invest_cost .board_list table{clear:both; border-top:4px solid #009223; margin: 0 auto; text-align: center; width: 1180px;}
.invest_cost .board_list table th{text-align:left; padding:0 30px; color:#292929; line-height:22px; font-weight:normal; border-bottom:1px solid #dddddd; font-family: noto_dl;}
.invest_cost .board_list table td{padding:0 30px; text-align:left; color:#666; line-height:22px; font-size:16px; letter-spacing:-0.05em; font-family: noto_dl;}
.invest_cost .board_list table thead th{border-color:#009223;}
.invest_cost .board_list table tfoot{background-color:#f6f6f6;}
.invest_cost .board_list table tfoot th,
.invest_cost .board_list table tfoot td{font-weight:300; color:#292929; font-family: noto_m;}
.invest_cost .board_list .notice{position: relative; float: left; color:#999; font-size:13px; line-height:23px; margin:19px 0 50px; left: 315px;}
.invest_cost .board_list .notice li{margin-bottom:8px; letter-spacing:-0.035em; font-size: 13px; font-family: noto_dl;}

.invest_cost .board_list .btns{clear: both; text-align:center;}
.invest_cost .board_list .btns .btn{font-size:18px; font-weight:bold; text-align:center; display:inline-block; vertical-align:middle; border-radius:30px; transition-duration:0.2s; background-color: #009233; color: #fff; margin: 0 4px;}
.invest_cost .board_list .btns .btn.i_arr::after {content: ''; display: inline-block; vertical-align: middle; width: 10px; height: 14px; background: url('../../images/common/icon_arr_r01.png') 0 0 no-repeat; margin-left: 7px;}
.invest_cost .board_list .btn span{display:inline-block; vertical-align:middle; height:46px; line-height:46px; font-size: 17px; font-family: noto_dl;}
.invest_cost .board_list .btn:hover {background-color:#00811f}
.invest_cost .board_list .btn.bgc_point span{height:50px; line-height:50px; letter-spacing:-0.03em;}
