body {
    font-size: 16px;
    color: #666666;
}

html, body, button, dl, dt, dd, div, form, fieldset, legend, h1, h2, h3, h4, h5, h6, input, select, textarea, ul, ol, li, p, pre, table, td, th, caption, a, button, figure {
    margin: 0;
    padding: 0;
    line-height: 120%;
}

.order.home_sub {
    min-height: 663px;
    padding-bottom: 130px;
    background: url(../../images/homesub_step1/home_bg.jpg) no-repeat 50% 0 #0aa8e7;
}

#content {
    padding-top: 0;
    position: relative;
    z-index: 3;
}

.order .store_map {
    position: relative;
}

.order .order_title {
    text-align: center;
}

.order .order_title h3 {
    padding: 64px 0 25px 0;
    color: #fff;
    font-size: 70px;
    font-family: sw_f;
    font-weight: bold;
}

.order .order_title p {
    color: #fff;
    font-size: 16px;
    font-family: noto_dl;
}

ol, ul {
    list-style: none;
}

.order .order_step {
    margin-top: 58px;
    text-align: center;
    font-size: 0;
}

.order .order_step li {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 106px;
    margin-right: 20px;
    padding-right: 65px;
    color: #fff;
    vertical-align: top;
    font-family: noto_r;
}

.order .order_step li.on {
    padding-left: 102px;
    font-size: 24px;
    font-weight: 300;
    text-align: left;
}

.order .order_step li.step_shop {
    background: url(../../images/homesub_step1/step01_off_bg.png) no-repeat 0 12px;
}

.order .order_step li.step_shop.on {
    width: 164px;
    height: 170px;
    padding-right: 16px;
    background: url(../../images/homesub_step1/step01_on_bg.png) no-repeat 0 0;
}

.order .order_step li.on strong {
    display: block;
    padding-top: 15px;
    color: #ffc300;
    font-size: 16px;
    font-family: sw_f;
    font-weight: bold;
}

.order .order_step li:after {
    content: '';
    position: absolute;
    right: 0;
    top: 45px;
    width: 45px;
    height: 5px;
    background: url(../../images/homesub_step1/step_bg_off.png) no-repeat 0 0;
}

.order .order_step li.on:after {
    background-image: url(../../images/homesub_step1/step_bg_on.png);
}

.order .order_step li.step_menu {
    background: url(../../images/homesub_step1/step02_off_bg.png) no-repeat 0 12px;
    font-size: 0;
}

.order .order_step li.step_menu strong {
    font-size: 0;
}

.order .order_step li.step_order {
    background: url(../../images/homesub_step1/step03_off_bg.png) no-repeat 0 12px;
    font-size: 0;
}

.order .order_step li.step_order strong {
    font-size: 0;
}

.order .order_step li.step_payment {
    margin-right: 0;
    padding-right: 0;
    background: url(../../images/homesub_step1/step04_off_bg.png) no-repeat 0 12px;
    font-size: 0;
}

.order .order_step li.step_payment strong {
    font-size: 0;
}

.order .order_step li.step_payment:after {
    display: none;
}

.order .order_con {
    position: relative;
    background-color: #fff;
}

.order .store_map .order_map {
    margin: 0 auto;
    width: 1170px;
}

fieldset {
    display: block;
    border: 0;
}

.order .order_map .delivery_address {
    padding: 60px 100px 40px 100px;
}

legend {
    display: block;
    overflow: hidden;
    position: absolute;
    top: -1000em;
    left: 0;
    width: 0;
    text-indent: -9999px;
}

.order .order_map .delivery_address dl {
    border: 1px solid #009223;
    overflow: hidden;
}

.order .order_map .delivery_address dl dt {
    float: left;
    width: 145px;
    padding-left: 55px;
    box-sizing: border-box;
    font-weight: 300;
    line-height: 80px;
    font-family: noto_r;
}

.order .order_map .delivery_address dl dd {
    float: left;
    width: 820px;
    font-family: noto_dl;
}

input {
    vertical-align: middle;
    font-family: noto_dl, sw_s;
    outline: none;
}

.order .order_map .delivery_address dl dd input {
    float: left;
    width: 675px;
    height: 35px;
    margin-top: 23px;
    padding-left: 19px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.order .order_map .delivery_address dl dd a {
    float: right;
    width: 115px;
    margin-top: 25px;
    background: none;
    border-left: 2px solid #e8e8e8;
    color: #009223;
    font-family: noto_dl;
    text-align: center;
    line-height: 32px;
}

.order .order_map .map_api {
    width: 1170px;
    height: 819px;
}

.order .store_search {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 400px;
    height: 760px;
    padding: 0 29px;
    border: 1px solid #d0d0d0;
    background: #fff;
    box-sizing: border-box;
}

.order.home_sub .store_search {
    top: 182px;
}

.order .store_search h3 {
    padding: 46px 0 17px 0;
    color: #292929;
    font-size: 28px;
    font-family: noto_r;
    font-weight: bold;
    text-align: center;
}

.order .store_search fieldset {
    border-bottom: 1px solid #ddd;
}

.order .store_search fieldset p {
    padding: 14px 0 18px 0;
    color: #999;
    font-family: noto_dl;
}

.order .store_search fieldset p strong {
    color: #292929;
    font-weight: 300;
}

em {
    font-style: normal;
}

.order .store_search fieldset p em {
    color: #009223;
    font-family: noto_r;
}


.order .store_list ul {
    height: 600px;
    width: 310;
    border-bottom: 1px solid #ddd;
}

.order .store_list ul li {
    padding: 23px 0;
    border-bottom: 1px solid #eee;
}

.order .store_list ul li:last-child{
    border-bottom: none;
}

.order .store_list ul li dl dt {
    overflow: hidden;
}

.order .store_list ul li dl dt strong {
    float: left;
    padding: 3px 9px 0 0;
    color: #292929;
    font-size: 18px;
    font-family: noto_dl;
}

.my_bookmark {
    display: block;
    cursor: pointer;
    position: relative;
    width: 24px;
    z-index: 5;
}

.order .store_list ul li dl dt .my_bookmark {
    float: left;
}

.my_bookmark input {
    opacity: 0;
    position: absolute;
    left: -2px;
    height: 0;
    width: 0;
}

.my_bookmark .i_star {
    background: url(../../images/homesub_step1/icon_star.png) no-repeat center 50%;
    background-color: #dddddd;
    background-size: 12px;
    display: block;
    border-radius: 100%;
    transition-duration: 0.3s;
    height: 24px;
    width: 24px;
}

em {
    font-style: normal;
}

.order .store_list ul li dl dt em {
    float: right;
    width: 67px;
    height: 25px;
    border: 1px solid #999;
    border-radius: 12.5px;
    color: #999;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    line-height: 25px;
}

.order .store_list ul li dl dt em.on {
    background: #009223;
    border-color: #009223;
    color: #fff;
    font-family: noto_dl;
}

.order .store_list ul li dl dd {
    position: relative;
    margin-top: 14px;
}

.order .store_list ul li dl .delivery {
    font-size: 14px;
    display: table;
}

.order .store_list ul li dl .delivery.time {
    margin-bottom: 5px;
}

.order .store_list ul li dl .delivery p {
    line-height: 20px;
    display: table-cell;
    width: 200px;
    font-size: 14px;
    font-family: noto_r;
}

.order .store_list ul li dl .delivery.time p {
    color: #292929;
    font-size: 17px;
    font-family: noto_m;
    letter-spacing: -.5px;
}

.order .store_list ul li dl dd span {
    position: absolute;
    right: 0;
    bottom: 3px;
    color: #bbb;
    font-family: sw_f;
}

.order .store_list ul li dl .delivery.time p + span {
    color: #292929;
    font-size: 17px;
    font-weight: bold;
    font-family: noto_dl;
}

.order .store_list ul li dl .delivery + dd {
    margin-top: 5px;
}

.order .store_list ul li dl .delivery + .delivery {
    margin-top: 0;
}

.order .store_list ul li dl dd p {
    width: 260px;
    color: #999;
    line-height: 23px;
    font-family: noto_dl, sw_s;
}


.order .store_list ul li dl dd span {
    position: absolute;
    right: 0;
    bottom: 3px;
    color: #bbb;
    font-family: sw_s;
}


.store_result{
    height: 500px;
    overflow-y: scroll;
    border-bottom: 1px solid #eee;
}
.store_result::-webkit-scrollbar{
    width: 12px;
}

.store_result::-webkit-scrollbar-thumb{
    background-color: #dddddd; 
    background-clip: padding-box;
    border: 4px solid transparent;
    height: 10px;
}


.box{
    margin-right: 18px;
}





#map_api .store_map_layout{
    width: 300px;
    height: 309px;
    border: 1px solid #000000;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -234px 0 0 -150px;
    z-index: 3;
}
#map_api .store_map_layout::after{
    border-top: 24px solid #fff; 
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 0px solid transparent; 
    content:""; 
    position:absolute;
    bottom: -24px;
    left:50.25%;
    z-index: 100; 
}
#map_api .store_map_layout::before{
    border-top: 25px solid #000; 
    border-left: 10.5px solid transparent; 
    border-right: 10.5px solid transparent; 
    border-bottom: 2px solid transparent; 
    content:""; 
    position:absolute;
    bottom: -27px;
    left:50%;
}
#map_api .store_map_layout .title{
    background-color: #ffce32;
    position: relative;
    height: 54px;
}
#map_api .store_map_layout .title>span{
    color: #292929;
    font-size: 18px;
    display: block;
    padding: 17px 0 0 23px;
    letter-spacing: -0.03em;
    font-family: 'noto_m';
}
#map_api .store_map_layout .title .close_btn{
    background: url(../../images/homesub_step1/icon_close01.png) 50% 50% no-repeat;
    width: 54px;
    height: 54px;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
}
#map_api .store_map_layout .info{
    margin: 0 24px;
    height: 178px;
}
#map_api .store_map_layout .info dl{
    padding-top: 23px;
}
#map_api .store_map_layout .info dt{
    color: #292929;
    font-family: noto_dl;
    font-size: 13px;
    float: left;
    height: 21px;
    padding-left: 2px;
    position: relative;
    margin-bottom: 4px;
    letter-spacing: -0.04em;
}
#map_api .store_map_layout .info dt::before{
    content: '';
    width: 2px;
    height: 2px;
    display: inline-block;
    vertical-align: middle;
    background-color: #696969;
    margin-right: 5px;
    position: relative;
    top: -1px;
}

#map_api .store_map_layout .info dd{
    color: #999999;
    font-family: noto_dl;
    font-size: 13px;
    line-height: 21px;
    margin: 0 0 5px 100px;
    position: relative;
    top: -3px;
    letter-spacing: -0.04em;
    min-height: 21px;
}
#map_api .store_map_layout .detail{
    text-align: center;
}
#map_api .store_map_layout .detail a{
    display: inline-block;
    color: #292929;
    font-size: 16px;
    letter-spacing: -0.045em;
    font-family: 'noto_m';
}



.popup_bgc {
    position: fixed;
    opacity: 0;
    background-color: #000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
}

.popup_wrapper {
    position: absolute;
    z-index: 1000;
    background-color: #ffc300;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 20px 15px 15px 15px;
    opacity: 1;
    width: 510px;
    margin-left: -250px;
    left: 50%;
    top: 425px;
    height: 886px;
}

#popup_wrap_wh {
    background-color: #fff;
    padding: 40px 50px;
    border-radius: 30px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}

#popup_wrap_wh h1.title {
    font-size: 30px;
    color: #009223;
    font-family: noto_r;
    font-weight: 300;
    text-align: center;
    letter-spacing: -0.05em;
    line-height: 30px;
    padding-bottom: 30px;
    position: relative;
    margin-bottom: 50px;
}

#popup_wrap_wh .delivery_add .title {
    margin-bottom: 30px;
}

#popup_wrap_wh h1.title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #009223;
}

.delivery_add .address_input {
    /* padding-top: 10px; */
    padding-top: 0;
}

.delivery_add .address_input > div {
    margin-bottom: 10px;
    overflow: hidden;
}

.delivery_add .address_input .write_info_wrap {
    position: relative;
    padding-top: 60px;
}

.delivery_add .address_input .write_info_wrap .btn_add {
    display: block;
    border: 1px solid #ddd;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 114px;
}

.delivery_add .address_input .write_info_wrap .btn_add span {
    background: url(../../images/homesub_step1/btn_address_search.png) no-repeat 100% 50%;
    display: inline-block;
    color: #999;
    font-family: noto_dl;
    line-height: 40px;
    padding-right: 20px;
}

.write_info_wrap .input_set {
    overflow: hidden;
    position: relative;
}

.write_info_wrap .input_set dl {
    background-color: #fff;
    overflow: hidden;
    border: 1px solid #e5e5e5;
    padding: 22px 30px;
    color: #000;
}

.write_info_wrap .input_set dt {
    float: left;
    position: relative;
    font-family: noto_dl;
    color: #000;
    width: 120px;
    line-height: 35px;
    letter-spacing: -0.05em;
}

.delivery_add .address_input .write_info_wrap .input_set dt, .delivery_add .address_input .write_info_wrap .input_set dd {
    float: none;
    width: 100%;
}

.write_info_wrap .input_set dd {
    float: left;
    position: relative;
    width: 786px;
}

.form_text {
    background-color: #f8f8f8;
    display: inline-block;
}

.write_info_wrap .input_set dd .form_text {
    background-color: #fff;
    width: 100%;
}

.form_text input {
    width: 100%;
    border: 0;
    background: transparent;
    height: 45px;
    color: #292929;
    font-size: 16px;
    text-indent: 15px;
}

.delivery_add .address_input > div input {
    float: left;
    border: 0;
    font-size: 20px;
    font-family: noto_r;
    line-height: 40px;
}

.write_info_wrap .input_set dd .form_text input {
    height: 35px;
    line-height: 35px;
    text-indent: 20px;
    letter-spacing: -0.05em;
}

.delivery_add .address_input .write_info_wrap .input_set dd .form_text input {
    text-indent: 0;
    color: #000;
}

.delivery_add .address_input .write_info_wrap .input_set dd .form_text input:read-only {
    cursor: pointer;
}

.delivery_add .address_input .write_info_wrap .input_set dt ~ dt {
    padding-top: 15px;
}

.delivery_add .address_input .write_info_wrap .input_set dd ~ dd {
    padding-top: 0;
}

.delivery_add .address_input .write_info_wrap .input_set dl:after {
    background-color: #e5e5e5;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
    height: 1px;
    width: 100%;
}

.counsel_copy {
    color: #999999;
    font-size: 13px;
    margin-top: 7px;
}

.delivery_add .counsel_copy {
    color: #ff4b06;
}

.delivery_add h2 {
    padding: 26px 0 18px 0;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
    font-family: noto_l;
}

.data_none {
    padding: 172px 0;
    text-align: center;
}

.delivery_add .data_none {
    padding: 70px 0;
}

.data_none p {
    position: relative;
    line-height: 18px;
    letter-spacing: -0.05em;
    font-family: noto_dl;
    color: #999;
    padding-top: 58px;
}

.data_none p:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -20px;
    background: url(../../images/homesub_step1/icon_exc_sm.png)no-repeat;
    width: 40px;
    height: 40px;
}

.btn_area {
    text-align: center;
    margin-top: 65px;
}

.btn {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    transition-duration: 0.2s;
}

.btn.bgc_white {
    background-color: #fff;
    border: 2px solid #009223;
    color: #009223;
    box-sizing: border-box;
}

.btn_area .btn {
    font-family: noto_dl;
}

.delivery_add .btn_area a {
    width: 130px;
}

.btn span {
    display: inline-block;
    vertical-align: middle;
    height: 46px;
    line-height: 46px;
}

.btn.bgc_point {
    background-color: #009223;
    color: #fff;
}

.btn_area .btn ~ .btn {
    margin-left: 7px;
}

.btn span {
    display: inline-block;
    vertical-align: middle;
    height: 46px;
    line-height: 46px;
}

.btn.bgc_point span {
    height: 50px;
    line-height: 50px;
    letter-spacing: -0.03em;
}

.btn.bgc_point:hover {
    background-color: #00811f;
}

.popup_wrapper .popup_close {
    background: url(../../images/homesub_step1/icon_popup_close.png) 50% 50% no-repeat;
    width: 73px;
    height: 73px;
    position: absolute;
    right: -73px;
    top: 0;
    border: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    outline: none;
}

.store_map_layout .btn_order {
    display: block;
    width: 118px;
    height: 34px;
    margin: 20px auto 0 auto;
    border: 1px solid #bbb;
    border-radius: 17px;
    text-align: center;
}

.store_map_layout .btn_order.on {
    display: block;
    width: 118px;
    height: 34px;
    margin: 20px auto 0 auto;
    border-radius: 17px;
    background: #009223;
    text-align: center;
}

.store_map_layout .btn_order.on:hover {
    background: #00811f;
}

.store_map_layout .btn_order span {
    display: inline-block;
    color: #bbb;
    font-weight: 300;
    line-height: 34px;
}

.store_map_layout .btn_order.on span {
    padding-right: 24px;
    background: url(../../images/homesub_step1/icon_reg02.png) no-repeat 100% 50%;
    color: #fff;
}

.my_bookmark input:checked ~ .i_star {
    animation: store_touch 0.3s ease-in-out forwards;
    background-color: #ffc300;
}