.content_wrap {
    width: 100%;
    background-color: #f6f6f6;
    padding: 59px 0 130px;
}

.login_wrap {
    width: 650px;
    margin: 20px auto 0;
    padding: 86px 100px 60px;
    background-color: #ffffff;
    border-radius: 30px 0;
    box-sizing: border-box;
}

.login_txt {
    text-align: center;
}

.login_txt h1 {
    font-size: 40px;
    font-family: 'noto_dl';
    line-height: 40px;
    letter-spacing: -0.07em;
    color: #292929;
}

.login_txt p {
    font-size: 16px;
    font-family: 'noto_r';
    line-height: 26px;
    letter-spacing: -0.05em;
    color: #999999;
    margin-top: 22px;
}

.login_input {
    margin-top: 46px;
}


.login_input .id_pw_wrap {
    border-width: 1px;
    border-style: solid;
    border-color: #e5e5e5;
    position: relative;
}

.login_input .id_pw_wrap p {
    padding: 22px 30px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 0;
}

.login_input .id_pw_wrap:focus-within {
    border-color: #009223;
}

.login_input .id_pw_wrap p:nth-of-type(2) {
    border: none;
}

.login_input .id_pw_wrap p span {
    display: inline-block;
    width: 120px;
    font-size: 16px;
    font-family: 'noto_m';
    line-height: 35px;
    letter-spacing: -0.05em;
    color: #666666;
}

.login_input .id_pw_wrap p input {
    width: 268px;
    height: 35px;
    font-size: 16px;
    font-family: 'noto_r';
    line-height: 35px;
    text-indent: 20px;
    letter-spacing: -0.05em;
    color: #292929;
    border: none;
    outline: none;
}

.login_input .id_pw_wrap p input::placeholder {
    color: #dddddd;
}

.login_input .id_save_wrap {
    display: inline-block;
    font-size: 0;
    position: relative;
    margin-top: 10px;
}

.login_input .id_save_wrap input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    left: -10px;
}

.login_input .id_save_wrap label {
    display: flex;
    overflow: hidden;
    cursor: pointer;
    font-size: 16px;
    font-family: 'noto_l';
    font-weight: bold;
    line-height: 26px;
    letter-spacing: -0.05em;
    color: #666666;
    align-items: center;
}

.login_input .id_save_wrap label span {
    width: 26px;
    height: 26px;
    border: 2px solid #dddddd;
    display: inline-block;
    border-radius: 50px;
    position: relative;
    margin-right: 10px;
}

.login_input .id_save_wrap label span::before {
    content: '';
    width: 0px;
    height: 20px;
    background: url("../../images/login/login_check.png") 0 0 no-repeat;
    position: absolute;
    top: 0;
    left: 4px;
    transition-duration: 0.2s;
}

.login_input .id_save_wrap input:checked + label span::before {
    width: 24px;
}

.login_input input[type="submit"] {
    width: 100%;
    height: 70px;
    background-color: #009223;
    margin-top: 40px;
    font-size: 18px;
    color: #ffffff;
    font-family: 'noto_m';
    border: none;
    outline: none;
    cursor: pointer;
    transition-duration: 0.2s;
}

.login_wrap input[type="submit"]:hover {
    background-color: #00811f;
}

.login_wrap .find_signUp {
    padding: 0 18px;
    display: flex;
    margin-top: 30px;
}

.login_wrap .find_signUp li {
    width: 100%;
    position: relative;
}

.login_wrap .find_signUp li:nth-of-type(2) {
    text-align: center;
}

.login_wrap .find_signUp li:nth-of-type(3) {
    text-align: right;
}

.login_wrap .find_signUp li::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: #dddddd;
    top: 5px;
    right: 18px;
}

.login_wrap .find_signUp li:nth-of-type(2)::after {
    right: -34px;
}

.login_wrap .find_signUp li:nth-of-type(3)::after {
    display: none;
}
    
.login_wrap .find_signUp li a {
    font-size: 16px;
    letter-spacing: -0.05em;
    color: #999999;
    font-family: 'noto_m';
}
